Repository knezevicdev/vrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-appraisal, test-appraisal, lint-checkout, build-checkout, test-checkout, build-home, build-landing, test-home, build-listing, test-listing, build-logistics, lint-logistics, test-logistics, build-marketing, build-product, test-product

Path conditions:
  build-appraisal: any of: apps/appraisal/**/*
  test-appraisal: any of: apps/appraisal/**/*
  lint-checkout: any of: apps/checkout/**/*
  build-checkout: any of: apps/checkout/**/*
  test-checkout: any of: apps/checkout/**/*
  build-home: any of: apps/home/**/*
  build-landing: any of: apps/landing/**/*
  test-home: any of: apps/home/**/*
  build-listing: any of: apps/listing/**/*
  test-listing: any of: apps/listing/**/*
  build-logistics: any of: apps/logistics/**/*
  lint-logistics: any of: apps/logistics/**/*
  test-logistics: any of: apps/logistics/**/*
  build-marketing: any of: apps/marketing/**/*
  build-product: any of: apps/product/**/*
  test-product: any of: apps/product/**/*

run linter
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
Due: build-marketing

update mobx
  apps/product/package-lock.json
  apps/product/package.json
Due: build-product, test-product

change mobx package
  apps/product/package-lock.json
  apps/product/package.json
Due: build-product, test-product

update stores for mobx 6 makeObservable
  apps/product/package-lock.json
  apps/product/package.json
  apps/product/src/modules/inventory/Santader/components/Features/store.ts
  apps/product/src/modules/inventory/Santader/components/Gallery/store.ts
  apps/product/src/modules/inventory/TDA/components/Features/store.ts
  apps/product/src/modules/inventory/TDA/components/Gallery/store.ts
  apps/product/src/modules/inventory/TDA/components/NotifyMe/store.ts
  apps/product/src/modules/inventory/TDA/components/StartPurchase/store.ts
  apps/product/src/modules/inventory/Vroom/components/Favorites/store.ts
  apps/product/src/modules/inventory/Vroom/components/Features/store.ts
  apps/product/src/modules/inventory/Vroom/components/Gallery/store.ts
  apps/product/src/modules/inventory/Vroom/components/NotifyMe/store.ts
  apps/product/src/modules/inventory/Vroom/components/StartPurchase/store.ts
  apps/product/src/modules/inventory/store.ts
Due: build-product, test-product

package json updates
  apps/product/package-lock.json
  apps/product/package.json
Due: build-product, test-product

Adding another badge to be included in Great Features
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/ViewModel.ts
  apps/product/src/modules/inventory/Vroom/components/StatusBanner/ViewModel.ts
Due: build-listing, test-listing, build-product, test-product

chore: removed the disallow for SEMRush and Ahrefs bots in robots.txt for Vinny
  static-assets/santander/robots.txt
  static-assets/tda/robots.txt
  static-assets/vroom/robots.txt
Due: none

chore: updated AASA file for Austin Welch see ME-1390
  static-assets/vroom/.well-known/apple-app-site-association.json
Due: none

chore: bumped version
  static-assets/version.json
Due: none

Incrementing version for release
  apps/listing/package-lock.json
  apps/listing/package.json
  apps/product/package-lock.json
  apps/product/package.json
Due: build-listing, test-listing, build-product, test-product

add makeObservable to stores
  apps/listing/package-lock.json
  apps/listing/package.json
  apps/listing/src/modules/cars/Santander/components/Filters/components/Makes/store.ts
  apps/listing/src/modules/cars/Santander/components/Filters/components/MaxAndMinInputs/store.ts
  apps/listing/src/modules/cars/Santander/components/Filters/store.ts
  apps/listing/src/modules/cars/Santander/components/Inventory/components/TopSection/components/Autocomplete/store.ts
  apps/listing/src/modules/cars/TDA/components/Filters/components/Makes/store.ts
  apps/listing/src/modules/cars/TDA/components/Filters/components/MaxAndMinInputs/store.ts
  apps/listing/src/modules/cars/TDA/components/Filters/store.ts
  apps/listing/src/modules/cars/TDA/components/Inventory/components/TopSection/components/Autocomplete/store.ts
  apps/listing/src/modules/cars/Vroom/components/Filters/components/Makes/store.ts
  apps/listing/src/modules/cars/Vroom/components/Filters/components/MaxAndMinInputs/store.ts
  apps/listing/src/modules/cars/Vroom/components/Filters/store.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/EmailCaptureCard/store.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/TopSection/components/Autocomplete/store.ts
  apps/listing/src/modules/cars/store.ts
Due: build-listing, test-listing

add chatbox to home
  apps/home/public/modules/home/images/chat-icon.svg
  apps/home/src/integrations/AnalyticsHandler.ts
  apps/home/src/modules/home/Vroom/components/Chatbox/View.tsx
  apps/home/src/modules/home/Vroom/components/Chatbox/ViewModel.tsx
  apps/home/src/modules/home/Vroom/components/Chatbox/index.tsx
  apps/home/src/modules/home/Vroom/index.tsx
Due: build-home, test-home

add app_id
  apps/home/next.config.js
  apps/home/src/modules/home/Vroom/components/Chatbox/View.tsx
Due: build-home, test-home

use different scripts based on node env
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
Due: build-marketing

pass node_env
  apps/home/next.config.js
  apps/home/src/modules/home/Vroom/components/Chatbox/View.tsx
Due: build-home, test-home

run linter
  apps/home/.eslintrc.js
  apps/home/src/modules/home/Vroom/components/Chatbox/View.tsx
  apps/home/src/modules/home/Vroom/index.tsx
Due: build-home, test-home

add linter ignore
  apps/home/.eslintrc.js
Due: build-home, test-home

change position to fixed
  apps/home/src/modules/home/Vroom/components/Chatbox/View.tsx
Due: build-home, test-home

set it to fixed
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
Due: build-marketing

update home mobx, fix vroom folder
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/Buy/Autocomplete/store.ts
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/Buy/store.ts
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/Sell/LicensePlate/Dialog/store.ts
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/Sell/LicensePlate/store.ts
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/Sell/Vin/store.ts
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/Sell/store.ts
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/store.ts
  apps/home/src/modules/home/Vroom/components/HeroVideo/BuySellTrade/Buy/Autocomplete/store.ts
  apps/home/src/modules/home/Vroom/components/HeroVideo/BuySellTrade/Buy/store.ts
  apps/home/src/modules/home/Vroom/components/HeroVideo/BuySellTrade/Sell/LicensePlate/Dialog/store.ts
  apps/home/src/modules/home/Vroom/components/HeroVideo/BuySellTrade/Sell/LicensePlate/store.ts
  apps/home/src/modules/home/Vroom/components/HeroVideo/BuySellTrade/Sell/Vin/store.ts
  apps/home/src/modules/home/Vroom/components/HeroVideo/BuySellTrade/Sell/store.ts
  apps/home/src/modules/home/Vroom/components/HeroVideo/BuySellTrade/store.ts
  apps/home/src/modules/home/store.ts
  apps/product/package-lock.json
Due: build-home, test-home, build-product, test-product

update tda/santander stores for mobx6
  apps/home/src/modules/home/Santander/components/Hero/Search/Autocomplete/store.ts
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Buy/Autocomplete/store.ts
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Buy/store.ts
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Sell/LicensePlate/Dialog/store.ts
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Sell/LicensePlate/store.ts
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Sell/Vin/store.ts
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Sell/store.ts
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/store.ts
  apps/home/src/modules/home/TDA/components/Hero/Search/Autocomplete/store.ts
Due: build-home, test-home

modify product package
  apps/product/package-lock.json
  apps/product/package.json
Due: build-product, test-product

update package version
  apps/appraisal/package.json
Due: build-appraisal, test-appraisal

Fixing tests with Mobx version increase
  apps/product/package-lock.json
  apps/product/package.json
  apps/product/src/modules/inventory/TDA/components/Features/ViewModel.test.ts
  apps/product/src/modules/inventory/TDA/components/Gallery/components/Select/ViewModel.test.ts
  apps/product/src/modules/inventory/TDA/components/NotifyMe/ViewModel.test.ts
  apps/product/src/modules/inventory/TDA/testCar.json
  apps/product/src/modules/inventory/Vroom/components/Favorites/ViewModel.test.ts
  apps/product/src/modules/inventory/Vroom/components/Features/ViewModel.test.ts
  apps/product/src/modules/inventory/Vroom/components/Gallery/components/Select/ViewModel.test.ts
  apps/product/src/modules/inventory/Vroom/components/NotifyMe/ViewModel.test.ts
  apps/product/src/modules/inventory/Vroom/testCar.json
Due: build-product, test-product

update package
  apps/listing/package-lock.json
  apps/listing/package.json
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/EmailCaptureCard/ViewModel.test.ts
Due: build-listing, test-listing

fix provider
  apps/appraisal/src/pages/paymentmethod/index.tsx
Due: build-appraisal, test-appraisal

Changing actions to methods instead of bound functions
  apps/listing/src/modules/cars/Santander/components/Filters/components/Makes/store.ts
  apps/listing/src/modules/cars/Santander/components/Filters/store.ts
  apps/listing/src/modules/cars/Santander/components/Inventory/components/TopSection/components/Autocomplete/store.ts
  apps/listing/src/modules/cars/TDA/components/Filters/components/Makes/store.ts
  apps/listing/src/modules/cars/TDA/components/Filters/store.ts
  apps/listing/src/modules/cars/TDA/components/Inventory/components/TopSection/components/Autocomplete/store.ts
  apps/listing/src/modules/cars/Vroom/components/Filters/components/Makes/store.ts
  apps/listing/src/modules/cars/Vroom/components/Filters/store.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/EmailCaptureCard/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/EmailCaptureCard/store.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/TopSection/components/Autocomplete/store.ts
  apps/listing/src/modules/cars/store.ts
Due: build-listing, test-listing

Changing bound function actions to methods
  apps/product/src/modules/inventory/Santader/components/Features/store.ts
  apps/product/src/modules/inventory/Santader/components/Gallery/store.ts
  apps/product/src/modules/inventory/TDA/components/Features/store.ts
  apps/product/src/modules/inventory/TDA/components/Gallery/store.ts
  apps/product/src/modules/inventory/TDA/components/NotifyMe/store.ts
  apps/product/src/modules/inventory/TDA/components/StartPurchase/store.ts
  apps/product/src/modules/inventory/Vroom/components/Favorites/store.ts
  apps/product/src/modules/inventory/Vroom/components/Features/store.ts
  apps/product/src/modules/inventory/Vroom/components/Gallery/store.ts
  apps/product/src/modules/inventory/Vroom/components/NotifyMe/store.ts
  apps/product/src/modules/inventory/Vroom/components/StartPurchase/store.ts
  apps/product/src/modules/inventory/store.ts
Due: build-product, test-product

add public logo for GTM
  apps/home/public/modules/home/images/vroom-logo.png
Due: build-home, test-home

rename broken test
  apps/listing/src/modules/cars/Vroom/components/Filters/ViewModel.test_fix.ts
Due: build-listing, test-listing

update mobx-react
  apps/home/package-lock.json
  apps/home/package.json
Due: build-home, test-home

bump version
  static-assets/version.json
  static-assets/vroom/images/home-page/vroom-logo.png
Due: none

bump version
  apps/home/package.json
Due: build-home, test-home

remove unneeded makeObservable in home
  apps/home/src/modules/home/store.ts
Due: build-home, test-home

fix shipping fee observable
  apps/product/src/modules/inventory/Vroom/components/Price/ViewModel.ts
Due: build-product, test-product

update to new header version, fix statusbanner in product
  apps/home/package-lock.json
  apps/home/package.json
  apps/listing/package-lock.json
  apps/listing/package.json
  apps/product/package-lock.json
  apps/product/package.json
  apps/product/src/modules/inventory/Vroom/components/StatusBanner/ViewModel.ts
Due: build-home, test-home, build-listing, test-listing, build-product, test-product

linting
  apps/product/src/modules/inventory/Vroom/components/StatusBanner/ViewModel.ts
Due: build-product, test-product

try to expand epay page again
  apps/appraisal/src/modules/directdeposit/ViewModel.tsx
Due: build-appraisal, test-appraisal

bump home, listing and product
  apps/home/package.json
  apps/listing/package.json
  apps/product/package.json
Due: build-home, test-home, build-listing, test-listing, build-product, test-product

fix lint errors
  apps/appraisal/src/modules/directdeposit/ViewModel.tsx
Due: build-appraisal, test-appraisal
