Repository knezevicdev/vrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-appraisal, lint-checkout, build-checkout, build-home, build-landing, build-listing, test-listing, build-marketing, build-product, test-product

build-appraisal:
  stage: build
  script:
  - cd apps/appraisal
  - npm install --quiet
  - npm run lint
  - npm run build

lint-checkout:
  stage: build
  script:
  - cd apps/checkout
  - npm install --quiet
  - npm run lint

build-checkout:
  stage: build
  script:
  - cd apps/checkout
  - npm install --quiet
  - npm run build

build-home:
  stage: build
  script:
  - cd apps/home
  - npm install --quiet
  - npm run lint
  - npm run build

build-landing:
  stage: build
  script:
  - cd apps/landing
  - npm install --quiet
  - npm run lint
  - npm run build

build-listing:
  stage: build
  script:
  - cd apps/listing
  - npm install --quiet
  - npm run lint
  - npm run build

test-listing:
  stage: build
  script:
  - cd apps/listing
  - npm install --quiet
  - npm run test:ci

build-marketing:
  stage: build
  script:
  - cd apps/marketing
  - npm install --quiet
  - npm run lint
  - npm run build

build-product:
  stage: build
  script:
  - cd apps/product
  - npm install --quiet
  - npm run lint
  - npm run build

test-product:
  stage: build
  script:
  - cd apps/product
  - npm install --quiet
  - npm run test:ci

installing graphql mock server on checkout
  apps/checkout/package-lock.json
  apps/checkout/package.json
Due: lint-checkout, build-checkout

updating client option value
  apps/checkout/src/networking/client.ts
Due: none

updating network
  apps/checkout/package-lock.json
  apps/checkout/package.json
Due: lint-checkout, build-checkout

Adding more ViewModel tests
  apps/listing/src/modules/cars/Vroom/components/Filters/components/MaxAndMinInputs/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Filters/components/MaxAndMinInputs/ViewModel.ts
  apps/listing/src/modules/cars/Vroom/components/Filters/components/Miles/ViewModel.test.ts
Due: none

bump package version
  apps/listing/package.json
  apps/product/package.json
Due: build-listing, test-listing, build-product, test-product

made the changes in the wrong branch sorry @kyle
  apps/listing/package.json
  apps/product/package.json
Due: build-listing, test-listing, build-product, test-product

Lint fixes and removed MUI in password strength and checkbox
  apps/checkout/src/modules/common/CustomCheckbox.tsx
  apps/checkout/src/modules/congratulations/Model.ts
  apps/checkout/src/modules/login/View.tsx
  apps/checkout/src/modules/login/ViewModel.ts
  apps/checkout/src/modules/login/components/LoginForm.tsx
  apps/checkout/src/modules/login/types.ts
  apps/checkout/src/modules/login/validationSchema.ts
  apps/checkout/src/modules/registration/components/PasswordStrength.tsx
  apps/checkout/types/graphql.d.ts
Due: none

reopen woodlands
  apps/home/src/modules/home/TDA/components/Location/Locations/ViewModel.ts
Due: none

bump versions
  apps/home/package.json
  apps/marketing/package.json
  apps/marketing/src/modules/locations/getLocations.ts
Due: build-home, build-marketing

add progress bar
  apps/checkout/src/modules/common/ProgressBar.tsx
  apps/checkout/src/stories/pages/ProgressBar/ProgressBar.stories.tsx
Due: none

DRAY-324 Password Reset
  apps/logistics/src/components/Auth.tsx
  apps/logistics/src/modules/forgot/Model.ts
  apps/logistics/src/modules/forgot/View.tsx
  apps/logistics/src/modules/forgot/ViewModel.ts
  apps/logistics/src/modules/forgot/index.tsx
  apps/logistics/src/modules/signin/View.tsx
  apps/logistics/src/networking/Networker.ts
  apps/logistics/src/networking/auth.ts
  apps/logistics/src/networking/shipments.ts
  apps/logistics/src/networking/user.ts
  apps/logistics/src/pages/api/gearbox.ts
  apps/logistics/src/pages/api/signin.ts
  apps/logistics/src/pages/forgot.tsx
Due: none

DRAY-488 Shipment Count
  apps/logistics/jest.config.js
  apps/logistics/src/components/Auth.tsx
  apps/logistics/src/components/ShipmentChanger.tsx
  apps/logistics/src/modules/home/Model.ts
  apps/logistics/src/modules/home/ViewModel.tsx
  apps/logistics/src/modules/home/__tests__/ViewModel.test.ts
  apps/logistics/src/networking/models/Shipments.ts
  apps/logistics/src/networking/shipments.ts
  apps/logistics/tsconfig.json
  apps/logistics/tsconfig.test.json
Due: none

update title for story book
  apps/checkout/src/stories/pages/ProgressBar/ProgressBar.stories.tsx
Due: none

bump logistics version
  apps/logistics/package.json
Due: none

update package-lock.json and bump version
  apps/logistics/package-lock.json
  apps/logistics/package.json
Due: none

Making the deliveryFee dynamic
  apps/product/next.config.js
  apps/product/package-lock.json
  apps/product/package.json
  apps/product/src/modules/inventory/Santader/components/Price/View.tsx
  apps/product/src/modules/inventory/Santader/components/Price/ViewModel.ts
  apps/product/src/modules/inventory/TDA/components/Price/View.tsx
  apps/product/src/modules/inventory/TDA/components/Price/ViewModel.ts
  apps/product/src/modules/inventory/Vroom/components/LegalFooter/View.tsx
  apps/product/src/modules/inventory/Vroom/components/LegalFooter/ViewModel.test.ts
  apps/product/src/modules/inventory/Vroom/components/LegalFooter/ViewModel.ts
  apps/product/src/modules/inventory/Vroom/components/LegalFooter/index.tsx
  apps/product/src/modules/inventory/Vroom/components/Price/View.tsx
  apps/product/src/modules/inventory/Vroom/components/Price/ViewModel.test.ts
  apps/product/src/modules/inventory/Vroom/components/Price/ViewModel.ts
  apps/product/src/modules/inventory/store.test.ts
  apps/product/src/modules/inventory/store.ts
Due: build-product, test-product

set showDD value w/onclick handler
  apps/appraisal/package-lock.json
  apps/appraisal/src/components/PayOptions/View.tsx
  apps/appraisal/src/components/PayOptions/index.tsx
  apps/appraisal/src/core/Radio.tsx
  apps/appraisal/src/modules/options/View.tsx
  apps/appraisal/src/modules/options/ViewModel.tsx
  apps/appraisal/src/modules/options/store.ts
Due: build-appraisal

initial deal validation configuration
  apps/checkout/next.config.js
  apps/checkout/package-lock.json
  apps/checkout/package.json
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/core/index.ts
  apps/checkout/src/core/navigator.ts
  apps/checkout/src/graphql/queries/dealValidator.graphql
  apps/checkout/src/networking/request.ts
  apps/checkout/src/pages/[vin]/registration.tsx
  apps/checkout/src/pages/[vin]/testPage.tsx
  apps/checkout/src/pages/[vin]/tradeIn.tsx
  apps/checkout/src/pages/_app.tsx
Due: lint-checkout, build-checkout

cleaning up
  apps/checkout/src/core/dealValidator.ts
Due: none

cleaning more
  apps/checkout/next.config.js
  apps/checkout/src/pages/_app.tsx
Due: lint-checkout, build-checkout

fixing authentication issues and vin must be sent as an array
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/pages/_app.tsx
Due: none

fixing congrats path
  apps/checkout/src/core/dealValidator.ts
Due: none

handling header for auth request
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/networking/request.ts
Due: none

adding comments
  apps/checkout/src/core/dealValidator.ts
Due: none

fixing gql configuration
  apps/checkout/next.config.js
Due: lint-checkout, build-checkout

AC-37: Ensure PaymentOptions receives options store
  apps/appraisal/src/pages/paymentmethod/index.tsx
Due: none

add pending deal dialog
  apps/checkout/public/assets/icons/car-reserve.svg
  apps/checkout/src/modules/common/PendingDealDialog.tsx
  apps/checkout/src/stories/pages/PendingDealDialog/PendingDealDialog.stories.tsx
Due: none

fix lint error
  apps/checkout/next.config.js
  apps/checkout/src/modules/common/DepositSubmittedDialog.tsx
  apps/checkout/src/modules/common/ProgressBar.tsx
  apps/checkout/src/modules/congratulations/Model.ts
  apps/checkout/src/networking/client.ts
  apps/checkout/src/networking/index.ts
  apps/checkout/src/networking/request.ts
  apps/checkout/src/networking/util/getTestDeal.ts
  apps/checkout/src/stories/pages/DepositSubmittedDialog/DepositSubmittedDialog.stories.tsx
  apps/checkout/src/stories/pages/PendingDealDialog/PendingDealDialog.stories.tsx
  apps/checkout/src/stories/pages/ProgressBar/ProgressBar.stories.tsx
Due: lint-checkout, build-checkout

add vehicle sold dialog
  apps/checkout/public/assets/icons/Car-search.svg
  apps/checkout/src/modules/common/VehicleSoldDialog.tsx
  apps/checkout/src/stories/pages/VehicleSoldDialog/VehicleSoldDialog.stories.tsx
Due: none

fix build issues
  apps/appraisal/src/components/PayOptions/View.tsx
  apps/appraisal/src/components/PayOptions/index.tsx
  apps/appraisal/src/core/Radio.tsx
  apps/appraisal/src/modules/directdeposit/store.ts
  apps/appraisal/src/modules/options/View.tsx
  apps/appraisal/src/modules/options/ViewModel.tsx
Due: none

adding the modal controller
  apps/checkout/package-lock.json
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/modules/dealValidatorModal/View.tsx
  apps/checkout/src/modules/dealValidatorModal/ViewModel.ts
  apps/checkout/src/modules/dealValidatorModal/index.tsx
  apps/checkout/src/networking/request.ts
  apps/checkout/src/pages/_app.tsx
Due: lint-checkout, build-checkout

fixing font loading issue
  apps/checkout/next.config.js
  apps/checkout/package-lock.json
  apps/checkout/package.json
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/core/index.ts
  apps/checkout/src/modules/common/ProgressBar.tsx
  apps/checkout/src/modules/congratulations/Model.ts
  apps/checkout/src/modules/dealValidatorModal/View.tsx
  apps/checkout/src/modules/dealValidatorModal/ViewModel.ts
  apps/checkout/src/modules/dealValidatorModal/index.tsx
  apps/checkout/src/networking/client.ts
  apps/checkout/src/networking/index.ts
  apps/checkout/src/networking/request.ts
  apps/checkout/src/networking/util/getTestDeal.ts
  apps/checkout/src/pages/[vin]/registration.tsx
  apps/checkout/src/pages/[vin]/testPage.tsx
  apps/checkout/src/pages/[vin]/tradeIn.tsx
  apps/checkout/src/pages/_app.tsx
  apps/checkout/src/stories/pages/ProgressBar/ProgressBar.stories.tsx
Due: lint-checkout, build-checkout

handling validation modal content
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/modules/dealValidatorModal/View.tsx
  apps/checkout/src/modules/dealValidatorModal/ViewModel.ts
  apps/checkout/src/modules/dealValidatorModal/samples/PendingPurchase.tsx
  apps/checkout/src/modules/dealValidatorModal/samples/VehicleSold.tsx
  apps/checkout/src/pages/[vin]/tradeIn.tsx
  apps/checkout/src/pages/_app.tsx
Due: none

Adding taxi service url to docker compose yaml
  apps/product/testing-docker/docker-compose.yaml
Due: none

[SND-1385] Update to new Transmission Field -> Master
  apps/listing/package-lock.json
  apps/listing/package.json
  apps/listing/src/modules/cars/data.ts
  apps/listing/src/modules/cars/store.test.ts
  apps/listing/src/modules/cars/store.ts
  apps/product/package-lock.json
  apps/product/package.json
  apps/product/src/modules/inventory/Santader/components/CarDetails/components/Performance/ViewModel.ts
  apps/product/src/modules/inventory/TDA/components/CarDetails/components/Performance/ViewModel.ts
  apps/product/src/modules/inventory/Vroom/components/CarDetails/components/Performance/ViewModel.ts
Due: build-listing, test-listing, build-product, test-product

[SND-1496] Google Optimize Experiment Bias
  apps/listing/src/modules/cars/Vroom/components/Inventory/View.tsx
  apps/listing/src/modules/cars/Vroom/components/Inventory/ViewModel.ts
  apps/listing/src/modules/cars/store.ts
  apps/listing/src/pages/[[...params]].tsx
  apps/product/src/modules/inventory/Vroom/View.tsx
  apps/product/src/modules/inventory/Vroom/ViewModel.ts
  apps/product/src/modules/inventory/store.ts
  apps/product/src/pages/[slug].tsx
Due: none

update listing and product app version
  apps/listing/package.json
  apps/product/package.json
Due: build-listing, test-listing, build-product, test-product

Adding taxi service url to the docker local file
  apps/product/docker-local/docker-compose.yaml
Due: none

remove sketch refs
  apps/appraisal/public/icons/check-mark-red.svg
  apps/appraisal/public/icons/red-one.svg
Due: none

adding deal logic
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/networking/request.ts
  apps/checkout/src/networking/util/getTestDeal.ts
Due: none

Path conditions:
  build-appraisal: any of: apps/appraisal/*
  lint-checkout: any of: apps/checkout/*
  build-checkout: any of: apps/checkout/*
  build-home: any of: apps/home/*
  build-landing: any of: apps/landing/*
  build-listing: any of: apps/listing/*
  test-listing: any of: apps/listing/*
  build-marketing: any of: apps/marketing/*
  build-product: any of: apps/product/*
  test-product: any of: apps/product/*
