Repository knezevicdev/vrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-appraisal, lint-checkout, build-checkout, build-home, build-landing, build-listing, test-listing, build-marketing, build-product, test-product

.gitlab-ci.yml:

image: node:latest

stages:
  - build

build-appraisal:
  only:
    refs:
      - merge_requests
    changes:
      - apps/appraisal/*
  stage: build
  script:
    - cd apps/appraisal
    - npm install --quiet
    - npm run lint
    - npm run build

lint-checkout:
  only:
    refs:
      - merge_requests
    changes:
      - apps/checkout/*
  stage: build
  script:
    - cd apps/checkout
    - npm install --quiet
    - npm run lint

build-checkout:
  only:
    refs:
      - merge_requests
    changes:
      - apps/checkout/*
  stage: build
  script:
    - cd apps/checkout
    - npm install --quiet
    - npm run build

build-home:
  only:
    refs:
      - merge_requests
    changes:
      - apps/home/*
  stage: build
  script:
    - cd apps/home
    - npm install --quiet
    - npm run lint
    - npm run build

build-landing:
  only:
    refs:
      - merge_requests
    changes:
      - apps/landing/*
  stage: build
  script:
    - cd apps/landing
    - npm install --quiet
    - npm run lint
    - npm run build

build-listing:
  only:
    refs:
      - merge_requests
    changes:
      - apps/listing/*
  stage: build
  script:
    - cd apps/listing
    - npm install --quiet
    - npm run lint
    - npm run build

test-listing:
  only:
    refs:
      - merge_requests
    changes:
      - apps/listing/*
  stage: build
  script:
    - cd apps/listing
    - npm install --quiet
    - npm run test:ci

build-marketing:
  only:
    refs:
      - merge_requests
    changes:
      - apps/marketing/*
  stage: build
  script:
    - cd apps/marketing
    - npm install --quiet
    - npm run lint
    - npm run build

build-product:
  only:
    refs:
      - merge_requests
    changes:
      - apps/product/*
  stage: build
  script:
    - cd apps/product
    - npm install --quiet
    - npm run lint
    - npm run build

test-product:
  only:
    refs:
      - merge_requests
    changes:
      - apps/product/*
  stage: build
  script:
    - cd apps/product
    - npm install --quiet
    - npm run test:ci

refactoring folder structure, and fixing unit test
  apps/checkout/src/modules/dealValidator/Model.ts
  apps/checkout/src/modules/dealValidator/View.tsx
  apps/checkout/src/modules/dealValidator/ViewModel.ts
  apps/checkout/src/modules/dealValidator/content/PendingDealDepositCaptured.tsx
  apps/checkout/src/modules/dealValidator/content/VehicleSold.tsx
  apps/checkout/src/modules/dealValidator/content/index.ts
  apps/checkout/src/modules/dealValidator/dealValidatorDialogs.test.ts
  apps/checkout/src/modules/dealValidator/index.tsx
  apps/checkout/src/modules/dealValidator/services/data/specialPageRules.json
  apps/checkout/src/modules/dealValidator/services/dealValidator.test.ts
  apps/checkout/src/modules/dealValidator/services/dealValidator.ts
  apps/checkout/src/modules/dealValidator/services/index.ts
  apps/checkout/src/modules/dealValidator/services/mockData/deals.json
  apps/checkout/src/modules/dealValidator/services/mockData/unauthorized.json
  apps/checkout/src/modules/dealValidator/types.ts
  apps/checkout/src/pages/_app.tsx
  apps/checkout/src/stories/modules/dialogs/DepositCapturedDialog.stories.tsx
  apps/checkout/src/stories/modules/dialogs/PendingDealDialog.stories.tsx
  apps/checkout/src/stories/modules/dialogs/VehicleSoldDialog.stories.tsx
Due: none

added type for the context
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/store/DealStore.ts
Due: none

lint fix
  apps/checkout/src/modules/store/DealStore.ts
Due: none

fixed type issues
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/store/DealStore.ts
Due: none

removed border
  apps/checkout/src/modules/common/CheckoutLayout.tsx
Due: none

peding deal and deposit captured border removed
  apps/checkout/src/modules/dealValidator/content/VehicleSold.tsx
Due: none

Moved steps to the store
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/store/DealStore.ts
Due: none

updating css multiples 8
  apps/checkout/src/modules/dealValidator/content/PendingDealDepositCaptured.tsx
  apps/checkout/src/modules/dealValidator/content/VehicleSold.tsx
Due: none

SELF-209: Checkout Layout Wrapper UI + SELF-196: Header UI
  apps/checkout/.storybook/preview.js
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/common/ProgressBar.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/DealCard.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/SelectedCar.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/AdditionalProducts/View.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/DealDetails.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/FinancingInformation.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/VehicleDetails.tsx
  apps/checkout/src/modules/footer/View.tsx
  apps/checkout/src/modules/footer/index.tsx
  apps/checkout/src/modules/header/View.tsx
  apps/checkout/src/modules/header/ViewModel.ts
  apps/checkout/src/modules/header/index.tsx
  apps/checkout/src/modules/store/DealStore.ts
  apps/checkout/src/stories/pages/header/Header.stories.tsx
  apps/checkout/src/stories/pages/layout/CheckoutLayout.stories.tsx
  apps/checkout/src/stories/pages/layout/ViewModel.ts
Due: none

initial commit
  apps/checkout/src/graphql/queries/getVehicleInfo.graphql
  apps/checkout/src/modules/vehicleTradeIn/Model.ts
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/index.tsx
  apps/checkout/src/pages/[vin]/vehicleTradeIn.tsx
Due: none

DRAY-474 Signin / Signup / Forgot Notifications
  .gitlab-ci.yml
  apps/logistics/.gitignore
  apps/logistics/docker-local/Dockerfile
  apps/logistics/jest.config.js
  apps/logistics/package-lock.json
  apps/logistics/package.json
  apps/logistics/src/components/Header.tsx
  apps/logistics/src/components/Page.tsx
  apps/logistics/src/modules/forgot/Model.ts
  apps/logistics/src/modules/forgot/View.tsx
  apps/logistics/src/modules/forgot/ViewModel.ts
  apps/logistics/src/modules/signin/Model.ts
  apps/logistics/src/modules/signin/View.tsx
  apps/logistics/src/modules/signin/ViewModel.ts
  apps/logistics/src/modules/signup/Model.ts
  apps/logistics/src/modules/signup/View.tsx
  apps/logistics/src/modules/signup/ViewModel.ts
  apps/logistics/src/modules/signup/__tests__/ViewModel.test.ts
  apps/logistics/src/networking/Networker.ts
  apps/logistics/src/pages/api/signin.ts
Due: none

refactoring deal context
  apps/checkout/src/core/contexts/DealContext.tsx
  apps/checkout/src/core/contexts/index.ts
  apps/checkout/src/core/hooks/index.ts
  apps/checkout/src/core/hooks/useDeal.ts
  apps/checkout/src/core/store/DealStore.ts
  apps/checkout/src/core/store/index.ts
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/header/ViewModel.ts
  apps/checkout/src/modules/header/index.tsx
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/ViewModel.ts
  apps/checkout/src/stories/pages/layout/CheckoutLayout.stories.tsx
  apps/checkout/src/stories/pages/layout/ViewModel.ts
Due: none

installing page
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/vehicleTradeIn/Model.ts
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/index.tsx
  apps/checkout/src/pages/[vin]/vehicleTradeIn.tsx
Due: none

fixed mobx issue
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/SelectedCar.tsx
  apps/checkout/src/modules/vehicleTradeIn/index.tsx
Due: none

increase default delivery
  apps/product/src/modules/inventory/store.ts
Due: none

update TDA location open status and home banner text
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/TDA/components/Banner/ViewModel.tsx
  apps/home/src/modules/home/TDA/components/Location/Locations/ViewModel.ts
  apps/marketing/package-lock.json
  apps/marketing/src/modules/locations/getLocations.ts
Due: build-home, build-marketing

update date
  apps/home/src/modules/home/TDA/components/Banner/ViewModel.tsx
Due: none

bump version
  apps/home/package.json
Due: build-home

move stuff around and delete tda
  apps/home/public/modules/home/images/Convertible-Selected.png
  apps/home/public/modules/home/images/Coupe-Selected.png
  apps/home/public/modules/home/images/Hatchback-Selected.png
  apps/home/public/modules/home/images/Minivan-Selected.png
  apps/home/public/modules/home/images/SUV-Selected.png
  apps/home/public/modules/home/images/Sedan-Selected.png
  apps/home/public/modules/home/images/Truck-Selected.png
  apps/home/public/modules/home/images/Wagon-Selected.png
  apps/home/public/modules/home/images/car_search_icon.svg
  apps/home/public/modules/home/images/convertible.png
  apps/home/public/modules/home/images/coupe.png
  apps/home/public/modules/home/images/delivery_truck_icon.svg
  apps/home/public/modules/home/images/finance_icon.svg
  apps/home/public/modules/home/images/hatchback.png
  apps/home/public/modules/home/images/highlight-one.png
  apps/home/public/modules/home/images/highlight-three.png
  apps/home/public/modules/home/images/highlight-two.png
  apps/home/public/modules/home/images/minivan.png
  apps/home/public/modules/home/images/sedan.png
  apps/home/public/modules/home/images/suv.png
  apps/home/public/modules/home/images/tda_hero.jpg
  apps/home/public/modules/home/images/truck.png
  apps/home/public/modules/home/images/wagon.png
  apps/home/src/modules/home/TDA/components/Hero/View.tsx
  apps/home/src/modules/home/TDA/components/HowItWorks/Step/ViewModel.ts
  apps/home/src/modules/home/TDA/components/VehicleSearch/ViewModel.ts
Due: none

bump package version
  apps/home/package.json
Due: build-home

this commit is a secret between dylan and i
  apps/home/package.json
  apps/home/public/modules/home/images/other_td_hero.jpg
Due: build-home

rename other td hero
  apps/home/package.json
  apps/home/src/modules/home/TDA/components/Hero/View.tsx
Due: build-home

bump logistics version
  apps/logistics/package.json
Due: none

Revert "rename other td hero"
  apps/home/package.json
  apps/home/src/modules/home/TDA/components/Hero/View.tsx
Due: build-home

Revert "this commit is a secret between dylan and i"
  apps/home/package.json
  apps/home/public/modules/home/images/tda_hero.jpg
Due: build-home

Revert "Merge branch 'image-url-hack' into 'master'"
  apps/home/package.json
  apps/home/public/modules/home/tda/images/Convertible-Selected.png
  apps/home/public/modules/home/tda/images/Coupe-Selected.png
  apps/home/public/modules/home/tda/images/Hatchback-Selected.png
  apps/home/public/modules/home/tda/images/Minivan-Selected.png
  apps/home/public/modules/home/tda/images/SUV-Selected.png
  apps/home/public/modules/home/tda/images/Sedan-Selected.png
  apps/home/public/modules/home/tda/images/Truck-Selected.png
  apps/home/public/modules/home/tda/images/Wagon-Selected.png
  apps/home/public/modules/home/tda/images/car_search_icon.svg
  apps/home/public/modules/home/tda/images/convertible.png
  apps/home/public/modules/home/tda/images/coupe.png
  apps/home/public/modules/home/tda/images/delivery_truck_icon.svg
  apps/home/public/modules/home/tda/images/finance_icon.svg
  apps/home/public/modules/home/tda/images/hatchback.png
  apps/home/public/modules/home/tda/images/highlight-one.png
  apps/home/public/modules/home/tda/images/highlight-three.png
  apps/home/public/modules/home/tda/images/highlight-two.png
  apps/home/public/modules/home/tda/images/minivan.png
  apps/home/public/modules/home/tda/images/sedan.png
  apps/home/public/modules/home/tda/images/suv.png
  apps/home/public/modules/home/tda/images/tda_hero.jpg
  apps/home/public/modules/home/tda/images/truck.png
  apps/home/public/modules/home/tda/images/wagon.png
  apps/home/src/modules/home/TDA/components/Hero/View.tsx
  apps/home/src/modules/home/TDA/components/HowItWorks/Step/ViewModel.ts
  apps/home/src/modules/home/TDA/components/VehicleSearch/ViewModel.ts
Due: build-home

set to package vsion 1.8.10
  apps/home/package.json
Due: build-home

Mobile similar vehicles bug fixes
  apps/product/src/modules/inventory/Santader/components/SimilarVehicles/View.tsx
  apps/product/src/modules/inventory/Santader/components/SimilarVehicles/components/CarCard/View.tsx
  apps/product/src/modules/inventory/TDA/components/SimilarVehicles/View.tsx
  apps/product/src/modules/inventory/Vroom/components/SimilarVehicles/View.tsx
Due: none

refactoring and using api implementation
  apps/checkout/src/core/store/DealStore.ts
  apps/checkout/src/graphql/queries/getVehicleInfo.graphql
  apps/checkout/src/graphql/queries/getVehicleTrade.graphql
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/SelectedCar.tsx
  apps/checkout/src/modules/header/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/Model.ts
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/index.tsx
  apps/checkout/src/networking/index.ts
  apps/checkout/src/networking/request.ts
  apps/checkout/src/networking/util/getCurrentVin.ts
  apps/checkout/src/networking/util/getTestDeal.ts
Due: none

lint
  apps/checkout/src/core/store/DealStore.ts
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/SelectedCar.tsx
  apps/checkout/src/modules/vehicleTradeIn/Model.ts
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/index.tsx
  apps/checkout/src/networking/index.ts
  apps/checkout/src/networking/request.ts
  apps/checkout/src/networking/util/getCurrentVin.ts
  apps/checkout/src/networking/util/getTestDeal.ts
Due: none

implementing card view for the vehicle trade in
  apps/checkout/src/core/store/DealStore.ts
  apps/checkout/src/graphql/queries/getVehicleTrade.graphql
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/index.tsx
  apps/checkout/src/networking/request.ts
Due: none

fixing storybook
  apps/checkout/src/core/store/DealStore.ts
  apps/checkout/src/modules/deals/sections/DealSummary/types.ts
  apps/checkout/src/stories/pages/layout/CheckoutLayout.stories.tsx
  apps/checkout/src/stories/pages/layout/ViewModel.ts
Due: none

fixing storybook and types
  apps/checkout/src/core/store/DealStore.ts
  apps/checkout/src/modules/deals/sections/DealSummary/DealCard.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/SelectedCar.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/VehicleDetails.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/types.ts
  apps/checkout/src/modules/vehicleTradeIn/Model.ts
  apps/checkout/src/modules/vehicleTradeIn/index.tsx
  apps/checkout/src/networking/request.ts
  apps/checkout/src/stories/pages/dealSummary/SelectedCar.stories.tsx
  apps/checkout/src/stories/pages/dealSummary/ViewModel.ts
  apps/checkout/src/stories/pages/layout/ViewModel.ts
Due: none

update TDA banner copy, bump home v
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/TDA/components/Banner/ViewModel.tsx
Due: build-home

adds images for homepage to static assets
  static-assets/version.json
  static-assets/vroom/icons/home-page/companies/audi-logo.svg
  static-assets/vroom/icons/home-page/companies/bmw-logo.svg
  static-assets/vroom/icons/home-page/companies/honda-logo.svg
  static-assets/vroom/icons/home-page/companies/jeep-logo.svg
  static-assets/vroom/icons/home-page/companies/land-rover-logo.svg
  static-assets/vroom/icons/home-page/companies/lexus-logo.svg
  static-assets/vroom/icons/home-page/companies/mercedes-benz-logo.svg
  static-assets/vroom/icons/home-page/companies/porsche-logo.svg
  static-assets/vroom/icons/home-page/companies/subaru-logo.svg
  static-assets/vroom/icons/home-page/companies/tesla-logo.svg
  static-assets/vroom/icons/home-page/companies/toyota-logo.svg
  static-assets/vroom/icons/home-page/companies/volvo-logo.svg
  static-assets/vroom/images/home-page/SUV-Body-Type.png
  static-assets/vroom/images/home-page/Sedan-Body-Type.png
  static-assets/vroom/images/home-page/Truck-Body-Type.png
Due: none

SELF-202: Header Analytics & SELF-231: Deal Summary Analytics
  apps/checkout/src/integrations/dealSummary/DealSummaryAnalyticsHandler.ts
  apps/checkout/src/integrations/header/HeaderAnalyticsHandler.ts
  apps/checkout/src/modules/deals/sections/DealSummary/components/AdditionalProducts/View.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/AdditionalProducts/ViewModel.ts
  apps/checkout/src/modules/deals/sections/DealSummary/components/DealDetails.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/ToolTipLink.tsx
  apps/checkout/src/modules/header/View.tsx
  apps/checkout/src/modules/header/ViewModel.ts
  apps/checkout/src/modules/header/index.tsx
Due: none

updates listing and product inv-search versions
  apps/listing/package-lock.json
  apps/listing/package.json
  apps/product/package-lock.json
  apps/product/package.json
Due: build-listing, test-listing, build-product, test-product

disabling login modal and enabling redirection to login
  apps/checkout/package-lock.json
  apps/checkout/src/modules/dealValidator/ViewModel.ts
  apps/checkout/src/pages/_app.tsx
Due: lint-checkout, build-checkout
