Repository knezevicdev/vrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-appraisal, test-appraisal, lint-checkout, build-checkout, test-checkout, build-home, build-landing, test-home, build-listing, test-listing, build-logistics, lint-logistics, test-logistics, build-marketing, build-product, test-product

Path conditions:
  build-appraisal: any of: apps/appraisal/**/*
  test-appraisal: any of: apps/appraisal/**/*
  lint-checkout: any of: apps/checkout/**/*
  build-checkout: any of: apps/checkout/**/*
  test-checkout: any of: apps/checkout/**/*
  build-home: any of: apps/home/**/*
  build-landing: any of: apps/landing/**/*
  test-home: any of: apps/home/**/*
  build-listing: any of: apps/listing/**/*
  test-listing: any of: apps/listing/**/*
  build-logistics: any of: apps/logistics/**/*
  lint-logistics: any of: apps/logistics/**/*
  test-logistics: any of: apps/logistics/**/*
  build-marketing: any of: apps/marketing/**/*
  build-product: any of: apps/product/**/*
  test-product: any of: apps/product/**/*

add logging
  apps/appraisal/src/modules/directdeposit/View.tsx
  apps/appraisal/src/modules/directdeposit/ViewModel.tsx
Due: build-appraisal, test-appraisal

fix build error
  apps/appraisal/src/modules/directdeposit/View.tsx
Due: build-appraisal, test-appraisal

remove extra logging
  apps/appraisal/src/modules/directdeposit/ViewModel.tsx
Due: build-appraisal, test-appraisal

chore: updated language
  static-assets/version.json
  static-assets/vroom/html/non-usa.html
Due: none

remove ts-ignore via sankalps suggestion
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
Due: build-marketing

tweak ts-ignore
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/Vroom/components/Chatbox/View.tsx
Due: build-home, test-home

add chatbot
  apps/home/src/modules/home/Vroom/components/Chatbox/View.tsx
Due: build-home, test-home

add prop
  apps/home/src/modules/home/Vroom/components/Chatbox/View.tsx
Due: build-home, test-home

embed iframe for vroom contact page
  apps/marketing/src/modules/contact/Vroom/index.tsx
Due: build-marketing

bump marketing app v
  apps/marketing/package.json
Due: build-marketing

add header and footer around iframe
  apps/marketing/src/modules/contact/Vroom/index.tsx
Due: build-marketing

fix container height
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
Due: build-marketing

tweak pointer and z-index
  apps/home/src/modules/home/Vroom/components/Chatbox/View.tsx
Due: build-home, test-home

bring other over css tweaks
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
Due: build-marketing

update header and footer
  apps/home/package-lock.json
  apps/home/package.json
Due: build-home, test-home

Revert "Merge branch 'cw-69-header' into 'master'"
  apps/home/.eslintrc.js
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/public/modules/home/images/chat-icon.svg
  apps/home/src/integrations/AnalyticsHandler.ts
  apps/home/src/modules/home/Vroom/components/Chatbox/View.tsx
  apps/home/src/modules/home/Vroom/components/Chatbox/ViewModel.tsx
  apps/home/src/modules/home/Vroom/components/Chatbox/index.tsx
  apps/home/src/modules/home/Vroom/index.tsx
Due: build-home, test-home

update header and footer in marketing
  apps/marketing/package-lock.json
  apps/marketing/package.json
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
  apps/marketing/src/modules/contact/Vroom/index.tsx
Due: build-marketing

bump home version
  apps/home/package.json
Due: build-home, test-home

tweak analytics integration
  apps/marketing/package.json
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
Due: build-marketing

update package
  apps/marketing/package.json
Due: build-marketing

make config more configurable
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
Due: build-marketing

bump version
  apps/marketing/package.json
Due: build-marketing

chore: updated language on non-usa page
  static-assets/vroom/html/non-usa.html
Due: none

change over links to /contact
  apps/landing/src/core/Footer/Desktop/Links.tsx
  apps/landing/src/core/Footer/Mobile/Links.tsx
  apps/landing/src/core/Footer/ViewModel.ts
  apps/landing/src/modules/V2V/components/ValueProps/Sections.tsx
Due: build-landing

replace footer and questions section links
  apps/appraisal/src/core/Footer/Desktop/Links.tsx
  apps/appraisal/src/core/Footer/Mobile/Links.tsx
  apps/appraisal/src/core/Footer/ViewModel.ts
  apps/appraisal/src/modules/questions/ViewModel.tsx
Due: build-appraisal, test-appraisal

add cw-109 experiment
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/View.tsx
  apps/home/src/modules/home/Vroom/components/Hero/ViewModel.ts
Due: build-home, test-home

forward path parameter to the iframe url
  apps/marketing/src/modules/contact/Vroom/index.tsx
Due: build-marketing

add experiments
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/View.tsx
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/ViewModel.ts
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/index.tsx
  apps/home/src/modules/home/Vroom/components/Hero/View.tsx
  apps/home/src/modules/home/Vroom/components/Hero/ViewModel.ts
Due: build-home, test-home

minor version bump
  apps/home/package.json
Due: build-home, test-home

fix build and linter issues
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/View.tsx
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/index.tsx
  apps/home/src/modules/home/Vroom/components/Hero/View.tsx
  apps/home/src/modules/home/Vroom/components/Hero/ViewModel.ts
Due: build-home, test-home

fix linter build 2
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/View.tsx
Due: build-home, test-home

update copy
  apps/home/src/modules/home/Vroom/components/Hero/View.tsx
  apps/home/src/modules/home/Vroom/components/Hero/ViewModel.ts
Due: build-home, test-home

fix functionality
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/View.tsx
Due: build-home, test-home

fix console error
  apps/appraisal/src/modules/paymentoverview/View.tsx
Due: build-appraisal, test-appraisal

update package modules
  apps/home/package-lock.json
Due: build-home, test-home

try setting constants and keeping html structure
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/View.tsx
Due: build-home, test-home

amend text
  apps/home/src/modules/home/Vroom/components/Hero/BuySellTrade/View.tsx
Due: build-home, test-home

upgrade to mobx6 and header 2.x
  apps/appraisal/docker-local/docker-compose.yaml
  apps/appraisal/package-lock.json
  apps/appraisal/package.json
  apps/appraisal/src/components/PlaidButton/View.tsx
  apps/appraisal/src/modules/directdeposit/store.ts
  apps/appraisal/src/modules/options/store.ts
  apps/appraisal/src/modules/paymentoverview/store.tsx
  apps/appraisal/src/modules/price/store.ts
  apps/appraisal/src/pages/_app.tsx
Due: build-appraisal, test-appraisal
