Repository knezevicdev/vrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-appraisal, lint-checkout, build-checkout, build-home, build-landing, build-listing, test-listing, build-marketing, build-product, test-product

build-appraisal:
  stage: build
  script:
  - cd apps/appraisal
  - npm install --quiet
  - npm run lint
  - npm run build

lint-checkout:
  stage: build
  script:
  - cd apps/checkout
  - npm install --quiet
  - npm run lint

build-checkout:
  stage: build
  script:
  - cd apps/checkout
  - npm install --quiet
  - npm run build

build-home:
  stage: build
  script:
  - cd apps/home
  - npm install --quiet
  - npm run lint
  - npm run build

build-landing:
  stage: build
  script:
  - cd apps/landing
  - npm install --quiet
  - npm run lint
  - npm run build

build-listing:
  stage: build
  script:
  - cd apps/listing
  - npm install --quiet
  - npm run lint
  - npm run build

test-listing:
  stage: build
  script:
  - cd apps/listing
  - npm install --quiet
  - npm run test:ci

build-marketing:
  stage: build
  script:
  - cd apps/marketing
  - npm install --quiet
  - npm run lint
  - npm run build

build-product:
  stage: build
  script:
  - cd apps/product
  - npm install --quiet
  - npm run lint
  - npm run build

test-product:
  stage: build
  script:
  - cd apps/product
  - npm install --quiet
  - npm run test:ci

ab experiment progress
  apps/appraisal/package-lock.json
  apps/appraisal/package.json
  apps/appraisal/src/components/PlaidButton/View.tsx
  apps/appraisal/src/components/PlaidButton/ViewModel.tsx
  apps/appraisal/src/integrations/experimentSDK.ts
  apps/appraisal/src/modules/directdeposit/View.tsx
  apps/appraisal/src/modules/directdeposit/ViewModel.tsx
  apps/appraisal/src/modules/directdeposit/index.tsx
  apps/appraisal/src/modules/directdeposit/store.ts
  apps/appraisal/src/modules/options/ViewModel.tsx
  apps/appraisal/src/modules/options/store.ts
  apps/appraisal/src/pages/paymentmethod/index.tsx
Due: build-appraisal

ostore fix and radio fix
  apps/appraisal/src/modules/paymentoverview/ViewModel.tsx
Due: none

change estimated pickup date patch key
  apps/logistics/src/modules/home/buttons/Book/Model.ts
Due: none

open TDA stores
  apps/home/package.json
  apps/home/src/modules/home/TDA/components/Banner/ViewModel.tsx
  apps/home/src/modules/home/TDA/components/Location/Locations/ViewModel.ts
  apps/marketing/package.json
  apps/marketing/src/modules/locations/getLocations.ts
  static-assets/vroom/icons/home-page/companies/volvo-logo.svg
Due: build-home, build-marketing

render depending on variant
  apps/appraisal/src/components/PlaidButton/View.tsx
  apps/appraisal/src/components/PlaidButton/ViewModel.tsx
  apps/appraisal/src/modules/directdeposit/View.tsx
  apps/appraisal/src/modules/directdeposit/ViewModel.tsx
  apps/appraisal/src/modules/directdeposit/index.tsx
  apps/appraisal/src/modules/options/store.ts
  apps/appraisal/src/pages/paymentmethod/index.tsx
Due: none

updates TDA contact page to use CAT data phone #
  apps/marketing/package-lock.json
  apps/marketing/package.json
  apps/marketing/src/modules/contact/TDA/components/ContactLabel/View.tsx
Due: build-marketing

Resolve DELTA-393
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/TDA/components/Banner/View.tsx
  apps/home/src/modules/home/TDA/components/Banner/ViewModel.tsx
Due: build-home

bump to 2.1.0
  apps/appraisal/package.json
Due: build-appraisal

creating layout
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/stories/modules/vehicleTradeIn/VehicleTradeIn.stories.tsx
Due: none

handling reponsiveness and view
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/Modal/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/Modal/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/Modal/index.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/Model.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/index.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/Modal.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/index.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/index.tsx
  apps/checkout/src/stories/modules/dialogs/VehicleSoldDialog.stories copy.tsx
Due: none

installing new trade information component
  apps/checkout/package-lock.json
  apps/checkout/package.json
  apps/checkout/src/graphql/queries/getDecodeVin.graphql
  apps/checkout/src/graphql/queries/getPlateToVin.graphql
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/Model.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/data/states.json
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/View.tsx
  apps/checkout/src/networking/request.ts
  apps/checkout/src/stories/modules/vehicleTradeIn/VehicleTradeIn.stories.tsx
Due: lint-checkout, build-checkout

adding graphql loader to storybook
  apps/checkout/.storybook/main.js
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
Due: none

Adding A/B test for visible shipping fee
  apps/product/src/modules/inventory/Vroom/components/Price/View.tsx
  apps/product/src/modules/inventory/Vroom/components/Price/ViewModel.test.ts
  apps/product/src/modules/inventory/Vroom/components/Price/ViewModel.ts
  apps/product/src/modules/inventory/Vroom/components/VehicleHeader/View.tsx
  apps/product/src/modules/inventory/store.ts
  apps/product/src/pages/[slug].tsx
Due: none

fixing modal on storybook
  apps/checkout/.storybook/main.js
  apps/checkout/.storybook/preview.js
  apps/checkout/src/modules/congratulations/components/Trade/components/LicensePlate/Modal/View.tsx
  apps/checkout/src/modules/congratulations/components/Trade/components/Vin/Modal.tsx
  apps/checkout/src/modules/dealValidator/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/Modal/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/Modal.tsx
  apps/checkout/src/pages/_app.tsx
  apps/checkout/src/stories/modules/vehicleTradeIn/VehicleTradeIn.stories.tsx
Due: none

Fixed footer event and label for analytics + added console log only if its tested on storybook
  apps/checkout/.storybook/preview.js
  apps/checkout/src/integrations/dealSummary/DealSummaryAnalyticsHandler.ts
  apps/checkout/src/integrations/footer/FooterAnalyticsHandler.ts
  apps/checkout/src/integrations/header/HeaderAnalyticsHandler.ts
  apps/checkout/src/modules/footer/ViewModel.ts
Due: none

add pagination UI
  apps/logistics/src/modules/home/Model.ts
  apps/logistics/src/modules/home/View.tsx
  apps/logistics/src/modules/home/ViewModel.tsx
  apps/logistics/src/networking/shipments.ts
Due: none

fix console error from passing booleans to Grid
  apps/logistics/src/modules/home/View.tsx
Due: none

DRAY-518 Booking Validation
  apps/logistics/src/modules/home/buttons/Book/Model.ts
  apps/logistics/src/modules/home/buttons/Book/View.tsx
  apps/logistics/src/modules/home/buttons/Book/ViewModel.ts
  apps/logistics/src/modules/home/buttons/Book/__tests__/ViewModel.test.ts
  apps/logistics/src/modules/home/buttons/Book/index.tsx
Due: none

fix test
  apps/logistics/src/modules/home/__tests__/ViewModel.test.ts
Due: none

move pagination data into VM
  apps/logistics/src/modules/home/Model.ts
  apps/logistics/src/modules/home/View.tsx
  apps/logistics/src/modules/home/ViewModel.tsx
Due: none

bump minor version for logistics
  apps/logistics/package.json
Due: none

more fixes
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/ViewModel.ts
  apps/checkout/src/stories/modules/vehicleTradeIn/VehicleTradeIn.stories.tsx
Due: none

updating ui lib
  apps/checkout/package-lock.json
  apps/checkout/package.json
Due: lint-checkout, build-checkout

more fixes
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/Modal/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/Modal/ViewModel.ts
  apps/checkout/src/stories/modules/dialogs/VehicleSoldDialog.stories copy.tsx
Due: none

update pachage version before the release
  apps/checkout/package.json
Due: lint-checkout, build-checkout

adding back button and fixing modal image
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/Modal.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/ViewModel.ts
Due: none

lint
  apps/checkout/src/modules/congratulations/components/Trade/components/LicensePlate/Modal/View.tsx
  apps/checkout/src/modules/congratulations/components/Trade/components/Vin/Modal.tsx
  apps/checkout/src/modules/dealValidator/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/Modal/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/Modal.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/ViewModel.ts
  apps/checkout/src/pages/_app.tsx
  apps/checkout/src/stories/modules/vehicleTradeIn/VehicleTradeIn.stories.tsx
Due: none

fixing mobile menu
  apps/checkout/src/core/store/DealStore.ts
  apps/checkout/src/modules/header/ViewModel.ts
Due: none

Hide email capture
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/View.tsx
Due: none

finish ab test
  apps/appraisal/.ackrc
  apps/appraisal/.eslintrc.js
  apps/appraisal/.gitignore
  apps/appraisal/public/icons/check-mark-green.svg
  apps/appraisal/public/icons/lock.svg
  apps/appraisal/public/icons/plaid-logo.svg
  apps/appraisal/src/components/PayOptions/View.tsx
  apps/appraisal/src/components/PayOptions/ViewModel.tsx
  apps/appraisal/src/components/PayOptions/index.tsx
  apps/appraisal/src/components/PlaidButton/View.tsx
  apps/appraisal/src/components/PlaidButton/ViewModel.tsx
  apps/appraisal/src/core/Icon.tsx
  apps/appraisal/src/modules/directdeposit/View.tsx
  apps/appraisal/src/modules/directdeposit/ViewModel.tsx
  apps/appraisal/src/modules/directdeposit/store.ts
  apps/appraisal/src/modules/options/View.tsx
  apps/appraisal/src/modules/options/ViewModel.tsx
  apps/appraisal/src/modules/options/store.ts
  apps/appraisal/src/pages/paymentmethod/index.tsx
Due: build-appraisal

fix build errors
  apps/appraisal/src/components/PayOptions/View.tsx
  apps/appraisal/src/components/PayOptions/ViewModel.tsx
  apps/appraisal/src/core/Radio.tsx
Due: none

adding vin validator util
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/ViewModel.ts
  apps/checkout/src/utils/validateVin.ts
Due: none

Incrementing the version for deploy 1.7.0
  apps/product/package.json
Due: build-product, test-product

Including package lock for deploy 1.7.0
  apps/product/package-lock.json
Due: build-product, test-product

Adds SEO Link Section to Home Page
  apps/home/docker/Dockerfile
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/public/fonts/Calibre-Regular.woff2
  apps/home/public/fonts/Calibre-Semibold.woff2
  apps/home/public/fonts/Vroom-Sans.woff2
  apps/home/src/global.css
  apps/home/src/integrations/AnalyticsHandler.ts
  apps/home/src/modules/home/Vroom/components/HeroVideo/BuySellTrade/Sell/Vin/Modal/Modal.tsx
  apps/home/src/modules/home/Vroom/components/Links/View.tsx
  apps/home/src/modules/home/Vroom/components/Links/ViewModel.ts
  apps/home/src/modules/home/Vroom/components/Links/index.tsx
  apps/home/src/modules/home/Vroom/index.tsx
  apps/home/src/pages/_app.tsx
  apps/home/src/pages/_document.tsx
  apps/home/src/pages/index.tsx
Due: build-home

missed style, bump home app v
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/Vroom/components/HowItWorks/ViewModel.ts
  apps/home/src/modules/home/Vroom/components/Links/View.tsx
Due: build-home

URL update, bump home app v
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/Vroom/components/Links/ViewModel.ts
Due: build-home

passes the handler into the useEffect
  apps/product/src/pages/[slug].tsx
Due: none

ling
  apps/checkout/src/core/store/DealStore.ts
  apps/checkout/src/modules/header/ViewModel.ts
  apps/checkout/src/modules/header/index.tsx
  apps/checkout/src/modules/vehicleTradeIn/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/View.tsx
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/Vin/ViewModel.ts
  apps/checkout/src/utils/validateVin.ts
Due: none

adds a data provider and moves the store to the VM
  apps/product/src/modules/inventory/Vroom/components/Price/View.tsx
  apps/product/src/modules/inventory/Vroom/components/Price/ViewModel.ts
  apps/product/src/modules/inventory/Vroom/components/Price/index.tsx
  apps/product/src/modules/inventory/withData.tsx
  apps/product/src/pages/[slug].tsx
Due: none

Path conditions:
  build-appraisal: any of: apps/appraisal/*
  lint-checkout: any of: apps/checkout/*
  build-checkout: any of: apps/checkout/*
  build-home: any of: apps/home/*
  build-landing: any of: apps/landing/*
  build-listing: any of: apps/listing/*
  test-listing: any of: apps/listing/*
  build-marketing: any of: apps/marketing/*
  build-product: any of: apps/product/*
  test-product: any of: apps/product/*
