Repository knezevicdev/vrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-appraisal, lint-checkout, build-checkout, build-home, build-landing, build-listing, test-listing, build-marketing, build-product, test-product

build-appraisal:
  stage: build
  script:
  - cd apps/appraisal
  - npm install --quiet
  - npm run lint
  - npm run build

lint-checkout:
  stage: build
  script:
  - cd apps/checkout
  - npm install --quiet
  - npm run lint

build-checkout:
  stage: build
  script:
  - cd apps/checkout
  - npm install --quiet
  - npm run build

build-home:
  stage: build
  script:
  - cd apps/home
  - npm install --quiet
  - npm run lint
  - npm run build

build-landing:
  stage: build
  script:
  - cd apps/landing
  - npm install --quiet
  - npm run lint
  - npm run build

build-listing:
  stage: build
  script:
  - cd apps/listing
  - npm install --quiet
  - npm run lint
  - npm run build

test-listing:
  stage: build
  script:
  - cd apps/listing
  - npm install --quiet
  - npm run test:ci

build-marketing:
  stage: build
  script:
  - cd apps/marketing
  - npm install --quiet
  - npm run lint
  - npm run build

build-product:
  stage: build
  script:
  - cd apps/product
  - npm install --quiet
  - npm run lint
  - npm run build

test-product:
  stage: build
  script:
  - cd apps/product
  - npm install --quiet
  - npm run test:ci

render modal based on message prop
  apps/checkout/src/modules/common/DepositSubmittedDialog.tsx
  apps/checkout/src/modules/common/PendingDealDialog.tsx
  apps/checkout/src/stories/pages/DepositSubmittedDialog/DepositSubmittedDialog.stories.tsx
  apps/checkout/src/stories/pages/PendingDealDialog/PendingDealDialog.stories.tsx
Due: none

fix lint error
  apps/checkout/src/modules/common/PendingDealDialog.tsx
  apps/checkout/src/modules/common/VehicleSoldDialog.tsx
  apps/checkout/src/stories/pages/PendingDealDialog/PendingDealDialog.stories.tsx
  apps/checkout/src/stories/pages/VehicleSoldDialog/VehicleSoldDialog.stories.tsx
Due: none

Updating to use the gearbox GraphQL endpoint
  apps/product/docker-local/docker-compose.yaml
  apps/product/next.config.js
  apps/product/src/modules/inventory/store.test.ts
  apps/product/src/modules/inventory/store.ts
  apps/product/testing-docker/docker-compose.yaml
Due: build-product, test-product

Fixing peding deal modals
  apps/checkout/package-lock.json
  apps/checkout/package.json
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/graphql/queries/dealValidator.graphql
  apps/checkout/src/modules/dealValidatorModal/ViewModel.ts
  apps/checkout/src/networking/request.ts
  apps/checkout/src/pages/[vin]/registration.tsx
  apps/checkout/src/pages/_app.tsx
Due: lint-checkout, build-checkout

adding the ability to sclude page from the general checkout rules
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/pages/_app.tsx
Due: none

Updating to version that has GraphQL
  apps/product/package-lock.json
  apps/product/package.json
Due: build-product, test-product

fixing test configuration to support absolute path
  apps/checkout/jest.config.js
  apps/checkout/src/core/dealValidator.test.ts
  apps/checkout/src/core/dealValidator.ts
Due: lint-checkout, build-checkout

installing jest graphql loader
  apps/checkout/jest.config.js
  apps/checkout/package-lock.json
  apps/checkout/package.json
  apps/checkout/src/core/dealValidator.test.ts
Due: lint-checkout, build-checkout

init layout design
  apps/checkout/next.config.js
  apps/checkout/src/modules/common/ProgressBar.tsx
  apps/checkout/src/modules/congratulations/Model.ts
  apps/checkout/src/networking/client.ts
  apps/checkout/src/networking/index.ts
  apps/checkout/src/networking/request.ts
  apps/checkout/src/networking/util/getTestDeal.ts
  apps/checkout/src/stories/pages/ProgressBar/ProgressBar.stories.tsx
Due: lint-checkout, build-checkout

init layout design
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/common/Footer.tsx
  apps/checkout/src/modules/common/Header.tsx
  apps/checkout/src/stories/pages/layout/CheckoutLayout.stories.tsx
Due: none

adding unit test to the deal validator
  apps/checkout/jest.config.js
  apps/checkout/src/core/dealValidator.test.ts
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/core/mockData/appContext.json
  apps/checkout/src/core/mockData/deals.json
  apps/checkout/src/core/mockData/unauthorized.json
  apps/checkout/src/networking/request.ts
  apps/checkout/src/networking/util/getTestDeal.ts
Due: lint-checkout, build-checkout

lint
  apps/checkout/src/core/dealValidator.test.ts
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/core/mockData/appContext.json
  apps/checkout/src/core/mockData/deals.json
  apps/checkout/src/core/mockData/unauthorized.json
Due: none

cleaning up
  apps/checkout/src/modules/dealValidatorModal/samples/PendingPurchase.tsx
  apps/checkout/src/modules/dealValidatorModal/samples/VehicleSold.tsx
  apps/checkout/src/pages/_app.tsx
Due: none

fixing build
  apps/checkout/src/core/navigator.ts
  apps/checkout/src/modules/dealValidatorModal/ViewModel.ts
  apps/checkout/src/modules/dealValidatorModal/samples/PendingPurchase.tsx
  apps/checkout/src/modules/dealValidatorModal/samples/VehicleSold.tsx
Due: none

cleaned the layout ui
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/common/Footer.tsx
  apps/checkout/src/modules/common/Header.tsx
  apps/checkout/src/stories/pages/layout/CheckoutLayout.stories.tsx
Due: none

DRAY-423: table rows can expand with details!
  apps/logistics/src/components/Auth.tsx
  apps/logistics/src/modules/home/Table.tsx
  apps/logistics/src/modules/home/View.tsx
  apps/logistics/src/modules/home/ViewModel.tsx
  apps/logistics/src/theme.tsx
Due: none

SND-1616: Price Tooltip Tracking
  apps/product/src/integrations/AnalyticsHandler.ts
  apps/product/src/modules/inventory/Vroom/components/Price/View.tsx
  apps/product/src/modules/inventory/Vroom/components/Price/ViewModel.ts
Due: none

Changing the default delivery fee to 599
  apps/product/src/modules/inventory/store.ts
Due: none

add space
  apps/checkout/src/modules/common/VehicleSoldDialog.tsx
Due: none

Cleaning up ViewModels
  apps/product/src/modules/inventory/Santader/components/Price/ViewModel.ts
  apps/product/src/modules/inventory/TDA/components/Price/ViewModel.ts
  apps/product/src/modules/inventory/Vroom/components/Price/ViewModel.ts
Due: none

Added store to manage the steps andn deal
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/store/DealStore.ts
  apps/checkout/src/stories/pages/layout/CheckoutLayout.stories.tsx
Due: none

SELF-231
  apps/checkout/package-lock.json
  apps/checkout/package.json
  apps/checkout/src/modules/common/ToolTip.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/DealCard.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/SelectedCar.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/View.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/ViewModel.test.ts
  apps/checkout/src/modules/deals/sections/DealSummary/ViewModel.ts
  apps/checkout/src/modules/deals/sections/DealSummary/components/AdditionalProducts/View.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/AdditionalProducts/ViewModel.test.ts
  apps/checkout/src/modules/deals/sections/DealSummary/components/AdditionalProducts/ViewModel.ts
  apps/checkout/src/modules/deals/sections/DealSummary/components/AdditionalProducts/index.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/DealDetails.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/FinancingInformation.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/ToolTipLink.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/VehicleDetails.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/buildPrice.test.ts
  apps/checkout/src/modules/deals/sections/DealSummary/components/buildPrice.ts
  apps/checkout/src/modules/deals/sections/DealSummary/index.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/mockDeal.json
  apps/checkout/src/modules/deals/sections/DealSummary/types.ts
  apps/checkout/src/stories/pages/dealSummary/DealCard.stories.tsx
  apps/checkout/src/stories/pages/dealSummary/SelectedCar.stories.tsx
  apps/checkout/src/stories/pages/dealSummary/ViewModel.ts
Due: lint-checkout, build-checkout

upgrating ui lib fixing default baseurl
  apps/checkout/package-lock.json
  apps/checkout/package.json
Due: lint-checkout, build-checkout

removing unnecesary code
  apps/checkout/next.config.js
Due: lint-checkout, build-checkout

added the Deal Summary
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/common/VehicleSoldDialog.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/DealCard.tsx
  apps/checkout/src/modules/store/DealStore.ts
  apps/checkout/src/stories/pages/layout/CheckoutLayout.stories.tsx
  apps/checkout/src/stories/pages/layout/ViewModel.ts
Due: none

fixed margins
  apps/checkout/src/modules/common/CheckoutLayout.tsx
Due: none

open kingwood
  apps/home/package.json
  apps/home/src/modules/home/TDA/components/Location/Locations/ViewModel.ts
  apps/marketing/package.json
  apps/marketing/src/modules/locations/getLocations.ts
Due: build-home, build-marketing

bump marketing & listing app v
  apps/landing/package.json
  apps/marketing/package.json
Due: build-landing, build-marketing

minor logic change
  apps/checkout/src/core/dealValidator.ts
Due: none

SELF-241: fullstory iframe poc and SELF-243: Segment iframe poc
  static-assets/vroom/test/autofi/iframe.html
  static-assets/vroom/test/autofi/index.html
Due: none

moving logic to the client side for better performance
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/modules/dealValidatorModal/Model.ts
  apps/checkout/src/modules/dealValidatorModal/View.tsx
  apps/checkout/src/modules/dealValidatorModal/ViewModel.ts
  apps/checkout/src/modules/dealValidatorModal/index.tsx
  apps/checkout/src/networking/request.ts
  apps/checkout/src/pages/_app.tsx
Due: none

lint
  apps/checkout/src/core/dealValidator.ts
  apps/checkout/src/modules/dealValidatorModal/Model.ts
  apps/checkout/src/modules/dealValidatorModal/View.tsx
  apps/checkout/src/modules/dealValidatorModal/ViewModel.ts
  apps/checkout/src/modules/dealValidatorModal/index.tsx
  apps/checkout/src/networking/request.ts
  apps/checkout/src/pages/_app.tsx
Due: none

fixing test
  apps/checkout/src/core/dealValidator.test.ts
  apps/checkout/src/core/mockData/appContext.json
Due: none

using relative path back
  apps/checkout/next.config.js
Due: lint-checkout, build-checkout

updated to reflect testing in prod
  static-assets/vroom/test/autofi/iframe.html
  static-assets/vroom/test/autofi/index.html
Due: none

chore: updated assetlinks for Dre per ME-1279
  static-assets/version.json
  static-assets/vroom/.well-known/assetlinks.json
Due: none

Styling adjustments to Selected Car and Deal Summary vehicle Title
  apps/checkout/src/modules/common/CheckoutLayout.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/DealCard.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/SelectedCar.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/VehicleDetails.tsx
  apps/checkout/src/stories/pages/layout/ViewModel.ts
Due: none

Styling adjustments to Selected Car and Deal Summary vehicle Title
  apps/checkout/src/modules/deals/sections/DealSummary/DealCard.tsx
Due: none

Styling adjustments to Layout
  apps/checkout/src/modules/common/CheckoutLayout.tsx
Due: none

Styling adjustments to deal summary - the values were not right aligned
  apps/checkout/src/modules/deals/sections/DealSummary/components/AdditionalProducts/View.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/DealDetails.tsx
  apps/checkout/src/modules/deals/sections/DealSummary/components/FinancingInformation.tsx
  apps/checkout/src/stories/pages/layout/ViewModel.ts
Due: none

Path conditions:
  build-appraisal: any of: apps/appraisal/*
  lint-checkout: any of: apps/checkout/*
  build-checkout: any of: apps/checkout/*
  build-home: any of: apps/home/*
  build-landing: any of: apps/landing/*
  build-listing: any of: apps/listing/*
  test-listing: any of: apps/listing/*
  build-marketing: any of: apps/marketing/*
  build-product: any of: apps/product/*
  test-product: any of: apps/product/*
