Repository knezevicdev/vrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-appraisal, lint-checkout, build-checkout, build-home, build-landing, build-listing, test-listing, build-marketing, build-product, test-product

.gitlab-ci.yml:

image: node:latest

stages:
  - build

build-appraisal:
  only:
    refs:
      - merge_requests
    changes:
      - apps/appraisal/*
  stage: build
  script:
    - cd apps/appraisal
    - npm install --quiet
    - npm run lint
    - npm run build

lint-checkout:
  only:
    refs:
      - merge_requests
    changes:
      - apps/checkout/*
  stage: build
  script:
    - cd apps/checkout
    - npm install --quiet
    - npm run lint

build-checkout:
  only:
    refs:
      - merge_requests
    changes:
      - apps/checkout/*
  stage: build
  script:
    - cd apps/checkout
    - npm install --quiet
    - npm run build

build-home:
  only:
    refs:
      - merge_requests
    changes:
      - apps/home/*
  stage: build
  script:
    - cd apps/home
    - npm install --quiet
    - npm run lint
    - npm run build

build-landing:
  only:
    refs:
      - merge_requests
    changes:
      - apps/landing/*
  stage: build
  script:
    - cd apps/landing
    - npm install --quiet
    - npm run lint
    - npm run build

build-listing:
  only:
    refs:
      - merge_requests
    changes:
      - apps/listing/*
  stage: build
  script:
    - cd apps/listing
    - npm install --quiet
    - npm run lint
    - npm run build

test-listing:
  only:
    refs:
      - merge_requests
    changes:
      - apps/listing/*
  stage: build
  script:
    - cd apps/listing
    - npm install --quiet
    - npm run test:ci

build-marketing:
  only:
    refs:
      - merge_requests
    changes:
      - apps/marketing/*
  stage: build
  script:
    - cd apps/marketing
    - npm install --quiet
    - npm run lint
    - npm run build

build-product:
  only:
    refs:
      - merge_requests
    changes:
      - apps/product/*
  stage: build
  script:
    - cd apps/product
    - npm install --quiet
    - npm run lint
    - npm run build

test-product:
  only:
    refs:
      - merge_requests
    changes:
      - apps/product/*
  stage: build
  script:
    - cd apps/product
    - npm install --quiet
    - npm run test:ci

try again
  .gitlab-ci.yml
Due: none

cc for product
  apps/product/src/modules/inventory/index.tsx
Due: none

added path for product coverage
  .gitlab-ci.yml
  apps/product/src/modules/inventory/index.tsx
Due: none

added cobertura stuffs
  .gitlab-ci.yml
  apps/product/jest.config.js
  apps/product/package.json
  apps/product/tsconfig.test.json
Due: build-product, test-product

fix issue
  apps/product/src/modules/inventory/index.tsx
Due: none

fixed linting thing
  apps/product/jest.config.js
  apps/product/package-lock.json
  apps/product/package.json
Due: build-product, test-product

removed junit reporter
  apps/product/jest.config.js
Due: build-product, test-product

fixex for congrats page
  apps/checkout/src/modules/common/multiplesVehiclesDialog/View.tsx
  apps/checkout/src/modules/dealValidator/services/dealValidator.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/View.tsx
Due: none

added junit to product
  apps/product/jest.config.js
  apps/product/package-lock.json
  apps/product/package.json
Due: build-product, test-product

cw-60
  apps/appraisal/src/modules/options/View.tsx
Due: none

bump package version
  apps/appraisal/package.json
Due: build-appraisal

try this
  apps/product/src/modules/inventory/index.tsx
Due: none

trying
  apps/product/src/modules/inventory/index.tsx
Due: none

trying in logistics
  apps/logistics/src/components/Auth.tsx
Due: none

update hours
  apps/home/src/modules/home/TDA/components/Banner/ViewModel.tsx
  apps/home/src/modules/home/TDA/components/Location/Locations/ViewModel.ts
Due: none

bump version
  apps/home/package.json
Due: build-home

update locations
  apps/marketing/package.json
  apps/marketing/src/modules/locations/getLocations.ts
Due: build-marketing

Added analytics for Doc upload button
  apps/checkout/src/integrations/congratulations/CongratsAnalyticsHandler.ts
  apps/checkout/src/modules/congratulations/ViewModel.ts
  apps/checkout/src/modules/congratulations/components/DocumentUpload/ViewModel.ts
  apps/checkout/src/modules/congratulations/components/DocumentUpload/index.tsx
  apps/checkout/src/modules/congratulations/sections/ReservedCar.tsx
Due: none

update supercenter hours
  apps/marketing/package.json
  apps/marketing/src/modules/locations/components/SuperCenterInfo/ViewModel.tsx
Due: build-marketing

update zip_code query field
  apps/logistics/src/networking/shipments.ts
Due: none

DRAY-528 Admin Link
  apps/logistics/package-lock.json
  apps/logistics/package.json
  apps/logistics/src/components/Header.tsx
  apps/logistics/src/components/Logo.tsx
  apps/logistics/src/components/Logo/index.tsx
  apps/logistics/src/modules/signin/View.tsx
  apps/logistics/src/modules/signup/View.tsx
  apps/logistics/src/pages/_app.tsx
  apps/logistics/src/pages/_document.tsx
  apps/logistics/src/pages/_document/FaviconSnippet.tsx
  apps/logistics/src/pages/_document/FontsSnippet.tsx
  apps/logistics/src/pages/_document/index.tsx
Due: none

Added analytics for error page
  apps/checkout/src/integrations/congratulations/CongratsAnalyticsHandler.ts
  apps/checkout/src/modules/congratulations/Model.ts
  apps/checkout/src/modules/congratulations/View.tsx
  apps/checkout/src/modules/congratulations/ViewModel.ts
  apps/checkout/src/modules/congratulations/sections/Error.tsx
  apps/checkout/src/modules/congratulations/sections/Success.tsx
Due: none

removed unused import
  apps/checkout/src/modules/congratulations/ViewModel.ts
Due: none

fixed useeffect errors
  apps/checkout/src/modules/congratulations/Model.ts
  apps/checkout/src/modules/congratulations/sections/Error.tsx
  apps/checkout/src/modules/congratulations/sections/Success.tsx
Due: none

fix zipcode string further down the line
  apps/logistics/src/modules/home/ViewModel.tsx
Due: none

missed zipcode string
  apps/logistics/src/networking/models/Shipments.ts
Due: none

add label for email invite
  apps/logistics/src/modules/admin/users/CreateAccount/View.tsx
  apps/logistics/src/modules/admin/users/CreateAccount/ViewModel.ts
  apps/logistics/src/modules/admin/users/CreateAccount/__tests__/ViewModel.test.ts
Due: none

fixed error storybook stories
  apps/checkout/src/stories/pages/congratulations/Page/Error.stories.tsx
  apps/checkout/src/stories/pages/congratulations/sections/Error.stories.tsx
Due: none

trying to enable code quality stuffs in gL
  .gitlab-ci.yml
  apps/logistics/src/components/Auth.tsx
Due: none

try something else
  .gitlab-ci.yml
Due: none

fix yml
  .gitlab-ci.yml
Due: none

added more cq config
  .gitlab-ci.yml
Due: none

experimenting with the graphql mock server
  apps/checkout/src/pages/_app.tsx
Due: none

adding coverage stuffs
  .gitlab-ci.yml
Due: none

SELF-144: Congrats Page Analytics
  apps/checkout/src/integrations/congratulations/CongratsAnalyticsHandler.ts
  apps/checkout/src/modules/congratulations/Model.ts
  apps/checkout/src/modules/congratulations/View.tsx
  apps/checkout/src/modules/congratulations/ViewModel.ts
  apps/checkout/src/modules/congratulations/components/DocumentUpload/ViewModel.ts
  apps/checkout/src/modules/congratulations/components/DocumentUpload/index.tsx
  apps/checkout/src/modules/congratulations/sections/Error.tsx
  apps/checkout/src/modules/congratulations/sections/ReservedCar.tsx
  apps/checkout/src/modules/congratulations/sections/Success.tsx
  apps/checkout/src/stories/pages/congratulations/Page/Error.stories.tsx
  apps/checkout/src/stories/pages/congratulations/sections/Error.stories.tsx
Due: none

Logistics App / Package Updates
  apps/logistics/.eslintignore
  apps/logistics/.eslintrc.js
  apps/logistics/docker-local/Dockerfile
  apps/logistics/docker/Dockerfile
  apps/logistics/package-lock.json
  apps/logistics/package.json
  apps/logistics/src/modules/admin/users/Table/ViewModel.ts
  apps/logistics/src/modules/home/ViewModel.tsx
Due: none

adding tracking events for modals SELF-71 SELF-72
  apps/checkout/src/integrations/dealValidator/dealValidatorAnalyticsHandler.ts
  apps/checkout/src/modules/dealValidator/ViewModel.ts
Due: none
