Repository knezevicdev/vrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-appraisal, test-appraisal, lint-checkout, build-checkout, test-checkout, build-home, build-landing, test-home, build-listing, test-listing, build-logistics, lint-logistics, test-logistics, build-marketing, build-product, test-product

Path conditions:
  build-appraisal: any of: apps/appraisal/**/*
  test-appraisal: any of: apps/appraisal/**/*
  lint-checkout: any of: apps/checkout/**/*
  build-checkout: any of: apps/checkout/**/*
  test-checkout: any of: apps/checkout/**/*
  build-home: any of: apps/home/**/*
  build-landing: any of: apps/landing/**/*
  test-home: any of: apps/home/**/*
  build-listing: any of: apps/listing/**/*
  test-listing: any of: apps/listing/**/*
  build-logistics: any of: apps/logistics/**/*
  lint-logistics: any of: apps/logistics/**/*
  test-logistics: any of: apps/logistics/**/*
  build-marketing: any of: apps/marketing/**/*
  build-product: any of: apps/product/**/*
  test-product: any of: apps/product/**/*

undo docker debug
  apps/appraisal/docker-local/docker-compose.yaml
Due: build-appraisal, test-appraisal

CW-111: z-index fix and refactor
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/ViewModel.tsx
  apps/marketing/src/modules/contact/Vroom/index.tsx
Due: build-marketing

Upgrade to node v14
  .gitlab-ci.yml
  apps/appraisal/docker-local/Dockerfile
  apps/appraisal/docker/Dockerfile
  apps/checkout/docker-local/Dockerfile
  apps/checkout/docker/Dockerfile
  apps/home/docker-local/Dockerfile
  apps/home/docker/Dockerfile
  apps/landing/docker-local/Dockerfile
  apps/landing/docker/Dockerfile
  apps/listing/docker-local/Dockerfile
  apps/listing/docker/Dockerfile
  apps/marketing/docker-local/Dockerfile
  apps/marketing/docker/Dockerfile
  apps/product/docker-local/Dockerfile
  apps/product/docker/Dockerfile
  plop-templates/new-app/dockerfile.hbs
Due: build-appraisal, test-appraisal, lint-checkout, build-checkout, test-checkout, build-home, build-landing, test-home, build-listing, test-listing, build-marketing, build-product, test-product

address andy's comment
  apps/landing/src/modules/V2V/components/ValueProps/Sections.tsx
Due: build-landing

update eslint
  apps/appraisal/.eslintrc.js
Due: build-appraisal, test-appraisal

undo
  apps/appraisal/.eslintrc.js
Due: build-appraisal, test-appraisal

lint fix
  apps/landing/src/modules/V2V/components/ValueProps/Sections.tsx
Due: build-landing

bump landing and marketing app v
  apps/landing/package-lock.json
  apps/landing/package.json
  apps/marketing/package-lock.json
  apps/marketing/package.json
Due: build-landing, build-marketing

upgrade to fermium
  apps/appraisal/docker-local/Dockerfile
  apps/appraisal/docker/Dockerfile
Due: build-appraisal, test-appraisal

upgrade to node-14
  apps/landing/docker-local/Dockerfile
  apps/landing/docker/Dockerfile
Due: build-landing

bump version
  apps/landing/package-lock.json
  apps/landing/package.json
Due: build-landing

update circleci config with sh script
  .circleci/config.yml
Due: none

protect against cases where poq is undefined
  apps/appraisal/src/modules/directdeposit/ViewModel.tsx
Due: build-appraisal, test-appraisal

bump package version
  apps/appraisal/package.json
Due: build-appraisal, test-appraisal

configure build
  .circleci/README.md
  .circleci/config.yml
  .circleci/src/@root.yml
  .circleci/src/jobs/@appraisal.yml
  .circleci/src/jobs/@checkout.yml
  .circleci/src/jobs/@home.yml
  .circleci/src/jobs/@landing.yml
  .circleci/src/jobs/@logistics.yml
  .circleci/src/jobs/@marketing.yml
  .circleci/src/jobs/@static-assets.yml
  .circleci/src/workflows/@appraisal.yml
  .circleci/src/workflows/@checkout.yml
  .circleci/src/workflows/@home.yml
  .circleci/src/workflows/@landing.yml
  .circleci/src/workflows/@logistics.yml
  .circleci/src/workflows/@marketing.yml
  .circleci/src/workflows/@static-assets.yml
  .circleci/src/workflows/@workflows.yml
  .gitlab-ci.yml
  docker-local/Dockerfile
  docker-local/docker-compose.yaml
  docker/Dockerfile
Due: none

bump package version
  package.json
Due: none

add npmrc file
  .npmrc
Due: none

add missing dotfiles
  .ackrc
  .babelrc
  .dockerignore
  .eslintrc.js
  .prettierrc.js
Due: none

got localStorage set and reading
  src/modules/directdeposit/store.ts
  src/modules/options/store.ts
  src/modules/paymentoverview/store.tsx
Due: none

plaid auth half way there, needs clean up and plaid init fixed
  src/modules/directdeposit/store.ts
  src/modules/options/store.ts
  src/modules/paymentoverview/store.tsx
Due: none

minor steps to get plaid redirect working
  package.json
  src/components/PlaidButton/View.tsx
Due: none

full FE setup for plait auth update
  package-lock.json
  src/components/PlaidButton/View.tsx
  src/components/PlaidButton/index.tsx
  src/modules/directdeposit/View.tsx
  src/modules/directdeposit/ViewModel.tsx
  src/modules/directdeposit/store.ts
  src/modules/options/store.ts
  src/modules/paymentoverview/store.tsx
  src/networking/Networker.ts
  src/pages/paymentmethod/index.tsx
Due: none

MR comments and clear localStorage values on plaidSuccess
  src/modules/directdeposit/store.ts
  src/modules/options/store.ts
Due: none

update networking call to include source instead of redirectUri
  src/modules/directdeposit/store.ts
  src/networking/Networker.ts
Due: none

remove unnecessary runInAction's
  src/modules/directdeposit/store.ts
  src/modules/options/store.ts
Due: none

plaid fixes to optimize auth
  src/components/PlaidButton/View.tsx
  src/components/PlaidButton/index.tsx
  src/modules/directdeposit/View.tsx
  src/modules/directdeposit/ViewModel.tsx
  src/modules/directdeposit/store.ts
  src/networking/Networker.ts
Due: none

fixed plaid exit loop
  src/components/PlaidButton/View.tsx
  src/modules/directdeposit/store.ts
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

updates for the standard pipeline
  .gitignore
  .gitlab-ci.yml
  .gitlab/auto-deploy-values.yaml
  package-lock.json
  package.json
Due: none

standard dockerfile
  Dockerfile
Due: none

Update auto-deploy-values.yaml
  .gitlab/auto-deploy-values.yaml
Due: none

add initial readme file
  README.md
  package-lock.json
Due: none

fixed space on readme file
  README.md
Due: none

add readme
  README.md
Due: none

add built with on readme file
  README.md
Due: none
