Repository knezevicdev/vrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-appraisal, test-appraisal, lint-checkout, build-checkout, test-checkout, build-home, build-landing, test-home, build-listing, test-listing, build-logistics, lint-logistics, test-logistics, build-marketing, build-product, test-product

Path conditions:
  build-appraisal: any of: apps/appraisal/**/*
  test-appraisal: any of: apps/appraisal/**/*
  lint-checkout: any of: apps/checkout/**/*
  build-checkout: any of: apps/checkout/**/*
  test-checkout: any of: apps/checkout/**/*
  build-home: any of: apps/home/**/*
  build-landing: any of: apps/landing/**/*
  test-home: any of: apps/home/**/*
  build-listing: any of: apps/listing/**/*
  test-listing: any of: apps/listing/**/*
  build-logistics: any of: apps/logistics/**/*
  lint-logistics: any of: apps/logistics/**/*
  test-logistics: any of: apps/logistics/**/*
  build-marketing: any of: apps/marketing/**/*
  build-product: any of: apps/product/**/*
  test-product: any of: apps/product/**/*

chore: bumped up version for static-assets
  static-assets/version.json
Due: none

Initial loaded with features badge work before API
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/DesktopView.tsx
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/MobileView.tsx
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/ViewModel.ts
Due: build-listing, test-listing

notify admin that an email was sent
  apps/logistics/src/modules/admin/users/CreateAccount/View.tsx
  apps/logistics/src/modules/admin/users/CreateAccount/ViewModel.ts
  apps/logistics/src/modules/admin/users/Model.ts
Due: build-logistics, lint-logistics, test-logistics

Add A/B test for re-ordering homepage sections
  apps/home/package-lock.json
  apps/home/src/modules/home/Vroom/index.tsx
Due: build-home, test-home

SELF-286: Phone Number from CAT SDK
  apps/checkout/.storybook/preview.js
  apps/checkout/src/core/store/CatStore.ts
  apps/checkout/src/core/store/index.ts
  apps/checkout/src/modules/congratulations/View.tsx
  apps/checkout/src/modules/congratulations/ViewModel.ts
  apps/checkout/src/modules/congratulations/index.tsx
  apps/checkout/src/modules/congratulations/store/index.ts
  apps/checkout/src/modules/congratulations/store/store.ts
  apps/checkout/src/modules/header/View.tsx
  apps/checkout/src/modules/header/ViewModel.ts
  apps/checkout/src/modules/header/index.tsx
  apps/checkout/src/pages/_app.tsx
Due: lint-checkout, build-checkout, test-checkout

bump home app v
  apps/home/package-lock.json
  apps/home/package.json
Due: build-home, test-home

Adding 360 spincar to the List View
  apps/product/src/modules/inventory/Vroom/components/Gallery/components/ListView.tsx
Due: build-product, test-product

horrible first draft
  apps/marketing/src/pages/contact.tsx
Due: build-marketing

The proxy setup for /gql
  apps/listing/docker-local/docker-compose.yaml
  apps/listing/next.config.js
  apps/listing/package-lock.json
  apps/listing/package.json
  apps/listing/src/pages/api/gql.ts
Due: build-listing, test-listing

gql proxy and client side deliveryFee request
  apps/product/next.config.js
  apps/product/package-lock.json
  apps/product/package.json
  apps/product/src/modules/inventory/Santader/components/LegalFooter/View.tsx
  apps/product/src/modules/inventory/Santader/components/LegalFooter/ViewModel.ts
  apps/product/src/modules/inventory/Santader/components/Price/View.tsx
  apps/product/src/modules/inventory/Santader/components/Price/ViewModel.ts
  apps/product/src/modules/inventory/TDA/components/LegalFooter/View.tsx
  apps/product/src/modules/inventory/TDA/components/LegalFooter/ViewModel.ts
  apps/product/src/modules/inventory/TDA/components/Price/View.tsx
  apps/product/src/modules/inventory/TDA/components/Price/ViewModel.ts
  apps/product/src/modules/inventory/Vroom/components/LegalFooter/View.tsx
  apps/product/src/modules/inventory/Vroom/components/LegalFooter/ViewModel.ts
  apps/product/src/modules/inventory/Vroom/components/Price/View.tsx
  apps/product/src/modules/inventory/Vroom/components/Price/ViewModel.test.ts
  apps/product/src/modules/inventory/Vroom/components/Price/ViewModel.ts
  apps/product/src/modules/inventory/store.test.ts
  apps/product/src/modules/inventory/store.ts
  apps/product/src/pages/api/gql.ts
Due: build-product, test-product

Update docker yaml
  apps/product/docker-local/docker-compose.yaml
Due: build-product, test-product

get chat to load
  apps/marketing/.babelrc
  apps/marketing/package-lock.json
  apps/marketing/package.json
  apps/marketing/public/modules/vroom/icons/chat-icon.svg
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/index.tsx
  apps/marketing/src/modules/contact/Vroom/index.tsx
  apps/marketing/src/modules/contact/index.tsx
  apps/marketing/src/pages/_document.tsx
  apps/marketing/src/pages/contact.tsx
Due: build-marketing

fix build errors and some eslint
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/index.tsx
  apps/marketing/src/modules/contact/Vroom/index.tsx
  apps/marketing/src/pages/_document.tsx
  apps/marketing/src/pages/contact.tsx
Due: build-marketing

fix build errors
  apps/marketing/.eslintrc.js
  apps/marketing/src/modules/contact/TDA/components/ContactLabel/View.tsx
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/index.tsx
Due: build-marketing

bump package version
  apps/marketing/package.json
Due: build-marketing

chore: Blocking bots
  static-assets/version.json
  static-assets/vroom/robots.txt
Due: none

shift chatbox location
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/index.tsx
Due: build-marketing

feature: blocking bots for tda and santander
  static-assets/santander/robots.txt
  static-assets/tda/robots.txt
  static-assets/version.json
Due: none

Product and Listing version update for release
  apps/listing/package-lock.json
  apps/listing/package.json
  apps/product/package-lock.json
  apps/product/package.json
Due: build-listing, test-listing, build-product, test-product

change loaded with features to great features
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/DesktopView.tsx
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/MobileView.tsx
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/ViewModel.ts
Due: build-listing, test-listing

add chatbox on load
  apps/marketing/package.json
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/index.tsx
Due: build-marketing

Adding logic for great features badge - listing
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/ViewModel.ts
Due: build-listing, test-listing

Great Features badge logic - product
  apps/product/src/modules/inventory/Vroom/components/StatusBanner/ViewModel.ts
Due: build-product, test-product

Incrementing the inv search version for Cars type change
  apps/listing/package-lock.json
  apps/listing/package.json
  apps/product/package-lock.json
  apps/product/package.json
Due: build-listing, test-listing, build-product, test-product

Update AB test
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/Vroom/components/Links/View.tsx
  apps/home/src/modules/home/Vroom/components/Links/ViewModel.ts
  apps/home/src/modules/home/Vroom/components/Links/index.tsx
  apps/home/src/modules/home/Vroom/index.tsx
Due: build-home, test-home

Refactoring badge logic - listing
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/DesktopView.tsx
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/MobileView.tsx
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/ViewModel.ts
Due: build-listing, test-listing

Great Features badge experiment - listing
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/ViewModel.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/ViewModel.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/PricingPopup/ViewModel.test.ts
  apps/listing/src/modules/cars/store.ts
Due: build-listing, test-listing

Great Features badge experiment - product
  apps/product/src/modules/inventory/Vroom/components/StatusBanner/ViewModel.ts
Due: build-product, test-product

home app -v, style tweak
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/Vroom/components/Links/View.tsx
  apps/home/src/modules/home/Vroom/index.tsx
Due: build-home, test-home

fix exp default
  apps/home/src/modules/home/Vroom/index.tsx
Due: build-home, test-home

Fixing the experiment being called twice
  apps/product/src/modules/inventory/Vroom/components/Price/index.tsx
  apps/product/src/modules/inventory/Vroom/components/StatusBanner/index.tsx
Due: build-product, test-product

add segment events
  apps/marketing/package-lock.json
  apps/marketing/package.json
  apps/marketing/src/integrations/AnalyticsHandler.ts
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/ViewModel.tsx
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/index.tsx
Due: build-marketing

fix lint/build
  apps/marketing/src/integrations/AnalyticsHandler.ts
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
Due: build-marketing

update todo
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
Due: build-marketing

Incrementing versions to deploy product and listing
  apps/listing/package-lock.json
  apps/listing/package.json
  apps/product/package-lock.json
  apps/product/package.json
Due: build-listing, test-listing, build-product, test-product

remove ab test and set if less than 10k
  apps/appraisal/src/components/PayOptions/View.tsx
  apps/appraisal/src/components/PayOptions/ViewModel.tsx
  apps/appraisal/src/components/PlaidButton/View.tsx
  apps/appraisal/src/components/PlaidButton/ViewModel.tsx
  apps/appraisal/src/modules/directdeposit/View.tsx
  apps/appraisal/src/modules/directdeposit/ViewModel.tsx
  apps/appraisal/src/modules/directdeposit/index.tsx
  apps/appraisal/src/modules/options/View.tsx
  apps/appraisal/src/modules/options/ViewModel.tsx
  apps/appraisal/src/modules/options/store.ts
Due: build-appraisal, test-appraisal

run linter and type checker
  apps/appraisal/jest.config.js
  apps/appraisal/src/components/PlaidButton/View.tsx
  apps/appraisal/src/modules/directdeposit/View.tsx
  apps/appraisal/src/modules/directdeposit/ViewModel.tsx
  apps/appraisal/src/modules/directdeposit/index.tsx
  apps/appraisal/src/modules/options/store.ts
Due: build-appraisal, test-appraisal

add prod envs
  apps/marketing/src/modules/contact/Vroom/components/Chatbox/View.tsx
Due: build-marketing

add new trade in vehicle step
  apps/product/junit.xml
  apps/product/src/modules/inventory/Vroom/components/StartPurchase/ViewModel.test.ts
  apps/product/src/modules/inventory/Vroom/components/StartPurchase/ViewModel.ts
Due: build-product, test-product

remove file
  apps/product/junit.xml
Due: build-product, test-product
