Repository knezevicdev/vrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-appraisal, lint-checkout, build-checkout, build-home, build-landing, build-listing, test-listing, build-logistics, lint-logistics, test-logistics, build-marketing, build-product, test-product

build-appraisal:
  stage: build
  script:
  - cd apps/appraisal
  - npm install --quiet
  - npm run lint
  - npm run build

lint-checkout:
  stage: build
  script:
  - cd apps/checkout
  - npm install --quiet
  - npm run lint

build-checkout:
  stage: build
  script:
  - cd apps/checkout
  - npm install --quiet
  - npm run build

build-home:
  stage: build
  script:
  - cd apps/home
  - npm install --quiet
  - npm run lint
  - npm run build

build-landing:
  stage: build
  script:
  - cd apps/landing
  - npm install --quiet
  - npm run lint
  - npm run build

build-listing:
  stage: build
  script:
  - cd apps/listing
  - npm install --quiet
  - npm run lint
  - npm run build

test-listing:
  stage: build
  script:
  - cd apps/listing
  - npm install --quiet
  - npm run test:ci

build-logistics:
  stage: build
  script:
  - cd apps/logistics
  - npm install --quiet
  - npm run build

lint-logistics:
  stage: test
  script:
  - cd apps/logistics
  - npm install --quiet
  - npm run lint

test-logistics:
  stage: test
  script:
  - cd apps/logistics
  - npm install --quiet
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit:
      - apps/logistics/junit.xml
      cobertura: apps/logistics/coverage/cobertura-coverage.xml
    paths:
    - apps/logistics/coverage

build-marketing:
  stage: build
  script:
  - cd apps/marketing
  - npm install --quiet
  - npm run lint
  - npm run build

build-product:
  stage: build
  script:
  - cd apps/product
  - npm install --quiet
  - npm run lint
  - npm run build

test-product:
  stage: test
  script:
  - cd apps/product
  - npm install --quiet
  - npm run test:ci
  artifacts:
    when: always
    reports:
      junit:
      - apps/product/junit.xml
      cobertura: apps/product/coverage/cobertura-coverage.xml
    paths:
    - apps/product/coverage

Changing width to max-width
  apps/product/src/modules/inventory/Vroom/components/Price/View.tsx
Due: build-product, test-product

adding debug logs
  apps/checkout/src/modules/dealValidator/Model.ts
  apps/checkout/src/modules/dealValidator/ViewModel.ts
  apps/checkout/src/modules/dealValidator/services/dealValidator.ts
Due: lint-checkout, build-checkout

updating version
  apps/checkout/package.json
Due: lint-checkout, build-checkout

fixing more deal validator
  apps/checkout/src/modules/dealValidator/Model.ts
  apps/checkout/src/modules/dealValidator/ViewModel.ts
Due: lint-checkout, build-checkout

adding more logs
  apps/checkout/src/modules/dealValidator/services/dealValidator.ts
Due: lint-checkout, build-checkout

disabling deal validator
  apps/checkout/src/pages/_app.tsx
Due: lint-checkout, build-checkout

removing console logs
  apps/checkout/src/modules/dealValidator/Model.ts
  apps/checkout/src/modules/dealValidator/ViewModel.ts
  apps/checkout/src/modules/dealValidator/services/dealValidator.ts
  apps/checkout/src/pages/_app.tsx
Due: lint-checkout, build-checkout

handling data null for congrats and vehicle info
  apps/checkout/src/core/store/DealStore.ts
  apps/checkout/src/modules/congratulations/Model.ts
  apps/checkout/src/modules/congratulations/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/Model.ts
  apps/checkout/src/modules/vehicleTradeIn/ViewModel.ts
Due: lint-checkout, build-checkout

removing mobx auto observable
  apps/checkout/src/modules/congratulations/Model.ts
Due: lint-checkout, build-checkout

added appraisal tests
  .gitlab-ci.yml
  apps/appraisal/jest.config.js
  apps/appraisal/package.json
  apps/appraisal/tsconfig.test.json
Due: build-appraisal

fix jest config for appraisals
  apps/appraisal/jest.config.js
Due: build-appraisal

removing all auto observable
  apps/checkout/src/integrations/dealValidator/dealValidatorAnalyticsHandler.ts
  apps/checkout/src/modules/congratulations/Model.ts
  apps/checkout/src/modules/congratulations/ViewModel.ts
  apps/checkout/src/modules/congratulations/components/Trade/components/LicensePlate/Model.ts
  apps/checkout/src/modules/congratulations/store/store.ts
  apps/checkout/src/modules/dealValidator/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/components/Trade/components/LicensePlate/Model.ts
  apps/checkout/src/stories/pages/congratulations/sections/Error.stories.tsx
Due: lint-checkout, build-checkout

added home and checkout tests
  .gitlab-ci.yml
  apps/checkout/jest.config.js
  apps/checkout/package.json
  apps/checkout/tsconfig.test.json
  apps/home/jest.config.js
  apps/home/package.json
  apps/home/tsconfig.test.json
Due: lint-checkout, build-checkout, build-home

fix checkint linting issue
  apps/checkout/jest.config.js
  apps/checkout/package-lock.json
  apps/checkout/package.json
  apps/checkout/src/integrations/dealValidator/dealValidatorAnalyticsHandler.ts
  apps/checkout/src/modules/congratulations/Model.ts
  apps/checkout/src/modules/congratulations/ViewModel.ts
  apps/checkout/src/modules/dealValidator/ViewModel.ts
  apps/checkout/src/modules/vehicleTradeIn/ViewModel.ts
  apps/checkout/src/stories/pages/congratulations/sections/Error.stories.tsx
Due: lint-checkout, build-checkout

fixed setupfiles
  apps/appraisal/jest.config.js
  apps/appraisal/package-lock.json
  apps/appraisal/package.json
  apps/home/jest.config.js
Due: build-appraisal, build-home

added landing
  .gitlab-ci.yml
  apps/landing/jest.config.js
  apps/landing/package.json
  apps/landing/tsconfig.test.json
Due: build-landing

Adding pricing popup to the catalog page wrapped in AB test
  apps/listing/docker-local/docker-compose.yaml
  apps/listing/next.config.js
  apps/listing/package-lock.json
  apps/listing/package.json
  apps/listing/src/integrations/AnalyticsHandler.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/View.tsx
  apps/listing/src/modules/cars/Vroom/components/Inventory/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/ViewModel.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Pagination/View.tsx
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/PricingPopup/View.tsx
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/PricingPopup/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/PricingPopup/ViewModel.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/PricingPopup/index.tsx
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/PricingPopup/svg/Info.svg
Due: build-listing, test-listing

Only make deliveryFee call if in experiment
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/PricingPopup/ViewModel.ts
Due: build-listing, test-listing

added flag to pass with no tests
  apps/appraisal/package.json
  apps/home/package.json
  apps/landing/package.json
Due: build-appraisal, build-home, build-landing

fix flag
  apps/appraisal/package.json
  apps/home/package.json
  apps/landing/package.json
Due: build-appraisal, build-home, build-landing

added listing
  .gitlab-ci.yml
  apps/listing/jest.config.js
  apps/listing/package.json
  apps/listing/tsconfig.test.json
Due: build-listing, test-listing

fix listing
  .gitlab-ci.yml
  apps/listing/jest.config.js
Due: build-listing, test-listing

added marketing
  .gitlab-ci.yml
  apps/marketing/jest.config.js
  apps/marketing/package.json
  apps/marketing/tsconfig.test.json
Due: build-marketing

fix linting in marketing
  apps/marketing/jest.config.js
  apps/marketing/package-lock.json
  apps/marketing/package.json
Due: build-marketing

added jest to apps that didnt have it
  apps/landing/package-lock.json
  apps/landing/package.json
  apps/marketing/package-lock.json
  apps/marketing/package.json
Due: build-landing, build-marketing

updating dependencies facing autoObservable
  apps/checkout/package-lock.json
  apps/checkout/package.json
Due: lint-checkout, build-checkout

bumping version
  apps/checkout/package.json
Due: lint-checkout, build-checkout

bump version
  apps/home/package.json
  apps/home/src/modules/home/TDA/components/Location/SuperCenter/ViewModel.ts
Due: build-home

fix typo
  apps/logistics/src/components/Header.tsx
Due: build-logistics, lint-logistics, test-logistics

bump commit version
  apps/appraisal/package.json
Due: build-appraisal

Completing back navigation
  apps/checkout/src/navigation/Navigation.test.ts
  apps/checkout/src/navigation/Navigation.ts
Due: lint-checkout, build-checkout

fixes
  apps/checkout/src/modules/vehicleTradeIn/ViewModel.ts
  apps/checkout/src/navigation/Navigation.test.ts
Due: lint-checkout, build-checkout

Notify Me - segment events
  apps/product/src/integrations/AnalyticsHandler.ts
  apps/product/src/modules/inventory/Vroom/components/NotifyMe/LoggedIn.tsx
  apps/product/src/modules/inventory/Vroom/components/NotifyMe/ViewModel.ts
Due: build-product, test-product

installing mock server helper UI
  apps/checkout/package-lock.json
  apps/checkout/package.json
  apps/checkout/src/pages/_app.tsx
Due: lint-checkout, build-checkout

bumping the latest changes
  apps/checkout/package.json
Due: lint-checkout, build-checkout

Favorites segment events
  apps/product/src/integrations/AnalyticsHandler.ts
  apps/product/src/modules/inventory/Vroom/components/Favorites/View.tsx
  apps/product/src/modules/inventory/Vroom/components/Favorites/ViewModel.ts
Due: build-product, test-product

chore: updated apple site json
  static-assets/vroom/.well-known/apple-app-site-association.json
Due: none

SELF-306: Conditionally render Uploaded Documents on Congrats-Purchase Summary
  apps/checkout/src/modules/congratulations/ViewModel.ts
  apps/checkout/src/modules/congratulations/sections/PurchaseSummary/PurchaseSummary.tsx
  apps/checkout/src/modules/congratulations/sections/PurchaseSummary/components/UploadDocuments/View.tsx
  apps/checkout/src/modules/congratulations/sections/PurchaseSummary/components/UploadDocuments/ViewModel.test.ts
  apps/checkout/src/modules/congratulations/sections/PurchaseSummary/components/UploadDocuments/ViewModel.ts
  apps/checkout/src/modules/congratulations/sections/PurchaseSummary/components/UploadDocuments/index.tsx
  apps/checkout/src/modules/congratulations/sections/PurchaseSummary/components/UploadedDocuments.tsx
  apps/checkout/src/modules/congratulations/sections/Success.tsx
  apps/checkout/src/navigation/Navigation.test.ts
  apps/checkout/src/navigation/Navigation.ts
  apps/checkout/src/stories/pages/congratulations/ViewModels.ts
Due: lint-checkout, build-checkout

Increment version for deployment
  apps/listing/package.json
  apps/product/package.json
Due: build-listing, test-listing, build-product, test-product

Path conditions:
  build-appraisal: any of: apps/appraisal/**/*
  lint-checkout: any of: apps/checkout/**/*
  build-checkout: any of: apps/checkout/**/*
  build-home: any of: apps/home/**/*
  build-landing: any of: apps/landing/**/*
  build-listing: any of: apps/listing/**/*
  test-listing: any of: apps/listing/**/*
  build-logistics: any of: apps/logistics/**/*
  lint-logistics: any of: apps/logistics/**/*
  test-logistics: any of: apps/logistics/**/*
  build-marketing: any of: apps/marketing/**/*
  build-product: any of: apps/product/**/*
  test-product: any of: apps/product/**/*
