Repository knezevicdev/vrap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-appraisal, lint-checkout, build-checkout, build-home, build-landing, build-listing, test-listing, build-marketing, build-product, test-product

build-appraisal:
  stage: build
  script:
  - cd apps/appraisal
  - npm install --quiet
  - npm run lint
  - npm run build

lint-checkout:
  stage: build
  script:
  - cd apps/checkout
  - npm install --quiet
  - npm run lint

build-checkout:
  stage: build
  script:
  - cd apps/checkout
  - npm install --quiet
  - npm run build

build-home:
  stage: build
  script:
  - cd apps/home
  - npm install --quiet
  - npm run lint
  - npm run build

build-landing:
  stage: build
  script:
  - cd apps/landing
  - npm install --quiet
  - npm run lint
  - npm run build

build-listing:
  stage: build
  script:
  - cd apps/listing
  - npm install --quiet
  - npm run lint
  - npm run build

test-listing:
  stage: build
  script:
  - cd apps/listing
  - npm install --quiet
  - npm run test:ci

build-marketing:
  stage: build
  script:
  - cd apps/marketing
  - npm install --quiet
  - npm run lint
  - npm run build

build-product:
  stage: build
  script:
  - cd apps/product
  - npm install --quiet
  - npm run lint
  - npm run build

test-product:
  stage: build
  script:
  - cd apps/product
  - npm install --quiet
  - npm run test:ci

lint fix
  apps/product/src/pages/[slug].tsx
Due: none

fix dropdown rendering and text
  apps/appraisal/src/components/CheckByMail/View.tsx
  apps/appraisal/src/components/CheckByMail/ViewModel.tsx
  apps/appraisal/src/core/Dropdown.tsx
  apps/appraisal/src/pages/paymentmethod/index.tsx
  apps/appraisal/src/pages/paymentmethod/paymentmethodContext.tsx
Due: none

clean up types
  apps/appraisal/src/components/CheckByMail/View.tsx
  apps/appraisal/src/components/CheckByMail/index.tsx
  apps/appraisal/src/core/Dropdown.tsx
  apps/appraisal/src/modules/options/paymentMethodContext.tsx
  apps/appraisal/src/pages/paymentmethod/index.tsx
  apps/appraisal/src/pages/paymentmethod/paymentmethodContext.tsx
Due: none

update inv-search lib version
  apps/listing/package-lock.json
  apps/listing/package.json
Due: build-listing, test-listing

bump next major version for logistics app
  .gitlab-ci.yml
  apps/logistics/package.json
Due: none

add login form
  apps/checkout/src/modules/login/LoginForm.tsx
  apps/checkout/src/modules/login/LoginInput.tsx
  apps/checkout/src/modules/login/View.tsx
  apps/checkout/src/modules/login/ViewModel.ts
  apps/checkout/src/modules/login/index.tsx
  apps/checkout/src/modules/login/types.ts
  apps/checkout/src/modules/login/validationSchema.ts
Due: none

AC-1317: Update remaining loan/total logic
  apps/appraisal/src/components/AsyncIndicator/View.tsx
  apps/appraisal/src/components/AsyncIndicator/ViewModel.tsx
  apps/appraisal/src/components/PriceDetail/View.tsx
  apps/appraisal/src/components/PriceDetail/ViewModel.ts
  apps/appraisal/src/interfaces.d.tsx
  apps/appraisal/src/modules/directdeposit/store.ts
  apps/appraisal/src/modules/options/ViewModel.tsx
  apps/appraisal/src/modules/options/store.ts
  apps/appraisal/src/modules/paymentoverview/View.tsx
  apps/appraisal/src/modules/paymentoverview/ViewModel.tsx
  apps/appraisal/src/modules/paymentoverview/index.tsx
  apps/appraisal/src/modules/paymentoverview/store.tsx
  apps/appraisal/src/modules/price/store.ts
  apps/appraisal/src/networking/models/Price.d.ts
  apps/appraisal/src/pages/paymentmethod/index.tsx
Due: none

chore: updated the apple universal links json, bumped static assets version
  static-assets/version.json
  static-assets/vroom/.well-known/apple-app-site-association.json
Due: none

add login story
  apps/checkout/src/modules/login/LoginForm.tsx
  apps/checkout/src/stories/pages/login/Login.stories.tsx
Due: none

AC-1377: Extract breakpoint logic from page to module
  apps/appraisal/src/modules/paymentoverview/View.tsx
  apps/appraisal/src/modules/paymentoverview/ViewModel.tsx
  apps/appraisal/src/modules/paymentoverview/store.tsx
  apps/appraisal/src/pages/paymentmethod/index.tsx
Due: none

add forgot passwrod link
  apps/checkout/src/modules/login/View.tsx
  apps/checkout/src/modules/login/ViewModel.ts
Due: none

ECOMM-3077: Sign up UI
  apps/checkout/package-lock.json
  apps/checkout/package.json
  apps/checkout/src/modules/common/CustomCheckbox.tsx
  apps/checkout/src/modules/common/CustomInput.tsx
  apps/checkout/src/modules/congratulations/components/Trade/components/LicensePlate/ViewModel.ts
  apps/checkout/src/modules/congratulations/sections/ReservedCar.tsx
  apps/checkout/src/modules/login/api/login.test.ts
  apps/checkout/src/modules/login/api/login.ts
  apps/checkout/src/modules/registration/View.tsx
  apps/checkout/src/modules/registration/ViewModel.test.ts
  apps/checkout/src/modules/registration/ViewModel.ts
  apps/checkout/src/modules/registration/components/FormView.tsx
  apps/checkout/src/modules/registration/components/LegalCopy.tsx
  apps/checkout/src/modules/registration/index.tsx
  apps/checkout/src/modules/registration/types.ts
  apps/checkout/src/modules/registration/validationSchema.ts
  apps/checkout/src/stories/pages/registration/Registration.stories.tsx
Due: lint-checkout, build-checkout

remove import
  apps/appraisal/src/modules/paymentoverview/ViewModel.tsx
Due: none

added types and fix imports
  apps/checkout/src/modules/login/LoginInput.tsx
  apps/checkout/src/modules/login/View.tsx
  apps/checkout/src/modules/login/components/LoginForm.tsx
  apps/checkout/src/modules/login/types.ts
Due: none

add comment
  apps/checkout/src/modules/login/ViewModel.ts
Due: none

adding script to target the mocking server
  apps/checkout/next.config.js
  apps/checkout/package.json
Due: lint-checkout, build-checkout

Fixed password validation messages and added the password strength bar
  apps/checkout/src/modules/registration/components/FormView.tsx
  apps/checkout/src/modules/registration/components/PasswordStrength.tsx
  apps/checkout/src/modules/registration/types.ts
  apps/checkout/src/modules/registration/validationSchema.ts
Due: none

linting fix
  apps/checkout/src/modules/registration/components/FormView.tsx
  apps/checkout/src/modules/registration/components/PasswordStrength.tsx
  apps/checkout/src/modules/registration/validationSchema.ts
Due: none

refactor
  apps/checkout/src/modules/registration/components/PasswordStrength.tsx
  apps/checkout/src/modules/registration/validationSchema.ts
Due: none

installing graphql Loader and organizing the queries
  apps/checkout/next.config.js
  apps/checkout/src/graphql/queries/getUserDeal.graphql
  apps/checkout/src/modules/congratulations/Model.ts
  apps/checkout/types/graphql.d.ts
Due: lint-checkout, build-checkout

bump listing version
  apps/listing/package.json
Due: build-listing, test-listing

design updates
  apps/checkout/src/modules/login/components/LoginForm.tsx
Due: none

update login validation
  apps/checkout/src/modules/login/validationSchema.ts
Due: none

update registration validation
  apps/checkout/src/modules/registration/validationSchema.ts
Due: none

add full story to checkout app
  apps/checkout/.babelrc
  apps/checkout/package-lock.json
  apps/checkout/package.json
  apps/checkout/src/pages/_document.tsx
Due: lint-checkout, build-checkout

update attribution, fix /cars redirect:
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Sell/LicensePlate/ViewModel.ts
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Sell/Vin/ViewModel.ts
Due: build-home

bump home app v
  apps/home/package-lock.json
  apps/home/package.json
Due: build-home

Fix for TDA appraisal attribution, /cars redirect
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Sell/LicensePlate/ViewModel.ts
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Sell/Vin/ViewModel.ts
Due: build-home

missed package file
  apps/home/package-lock.json
Due: build-home

Update TDA locations marketing text
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Sell/LicensePlate/ViewModel.ts
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Sell/Vin/ViewModel.ts
  apps/home/src/modules/home/TDA/components/Location/Locations/LocationDetails.tsx
  apps/home/src/modules/home/TDA/components/Location/Locations/ViewModel.ts
  apps/marketing/package-lock.json
  apps/marketing/package.json
  apps/marketing/src/modules/location/View.tsx
  apps/marketing/src/modules/location/components/ContactInfo/View.tsx
  apps/marketing/src/modules/location/components/Hero/ViewModel.ts
  apps/marketing/src/modules/location/components/Hero/index.tsx
  apps/marketing/src/modules/locations/getLocations.ts
Due: build-home, build-marketing

TDA attrib fix, bump home v
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Sell/LicensePlate/ViewModel.ts
  apps/home/src/modules/home/TDA/components/Hero/BuySellTrade/Sell/Vin/ViewModel.ts
Due: build-home

update exp id, bump home app v
  apps/home/package-lock.json
  apps/home/package.json
  apps/home/src/modules/home/Vroom/index.tsx
Due: build-home

allow checkout to use mocking data server and switch between deal through the parameter
  apps/checkout/next.config.js
  apps/checkout/package.json
  apps/checkout/src/modules/congratulations/Model.ts
  apps/checkout/src/modules/congratulations/index.tsx
  apps/checkout/src/networking/client.ts
  apps/checkout/src/networking/index.ts
  apps/checkout/src/networking/request.ts
  apps/checkout/src/networking/util/getTestDeal.ts
Due: lint-checkout, build-checkout

AC-1241: price submission cleanup
  apps/appraisal/src/components/AsyncIndicator/ViewModel.tsx
  apps/appraisal/src/components/AsyncIndicator/index.tsx
  apps/appraisal/src/components/PriceDetail/ViewModel.ts
  apps/appraisal/src/interfaces.d.tsx
  apps/appraisal/src/modules/directdeposit/store.ts
  apps/appraisal/src/modules/options/store.ts
  apps/appraisal/src/modules/paymentoverview/ViewModel.tsx
  apps/appraisal/src/modules/paymentoverview/store.tsx
  apps/appraisal/src/modules/price/store.ts
Due: none

partial fix
  apps/appraisal/src/components/DirectDeposit/View.tsx
  apps/appraisal/src/components/DirectDeposit/ViewModel.tsx
  apps/appraisal/src/components/DirectDeposit/index.tsx
  apps/appraisal/src/components/PlaidButton/View.tsx
  apps/appraisal/src/modules/directdeposit/store.ts
Due: none

fix lint
  apps/appraisal/src/modules/directdeposit/View.tsx
  apps/appraisal/src/pages/paymentmethod/index.tsx
Due: none

Adding viewModel tests
  apps/listing/src/modules/cars/Vroom/components/Filters/components/Price/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Cars/components/CarCard/ViewModel.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/Pagination/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/TopSection/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/TopSection/components/Autocomplete/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/TopSection/components/Chips/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/TopSection/components/Chips/ViewModel.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/TopSection/components/Sort/ViewModel.test.ts
  apps/listing/src/modules/cars/Vroom/components/Inventory/components/TopSection/components/Sort/ViewModel.ts
Due: none

tweak font
  apps/appraisal/src/modules/directdeposit/View.tsx
Due: none

Watch all children recursively
  .gitlab-ci.yml
Due: none

Updating babel and document names for fullstory
  apps/landing/.babelrc
  apps/landing/package-lock.json
  apps/landing/package.json
  apps/landing/src/pages/_document.tsx
  apps/marketing/.babelrc
  apps/marketing/package-lock.json
  apps/marketing/package.json
  apps/marketing/src/pages/_document.tsx
Due: build-landing, build-marketing

Path conditions:
  build-appraisal: any of: apps/appraisal/*
  lint-checkout: any of: apps/checkout/*
  build-checkout: any of: apps/checkout/*
  build-home: any of: apps/home/*
  build-landing: any of: apps/landing/*
  build-listing: any of: apps/listing/*
  test-listing: any of: apps/listing/*
  build-marketing: any of: apps/marketing/*
  build-product: any of: apps/product/*
  test-product: any of: apps/product/*
